asyncio
asyncpg
boto3==1.9.124
celery
discord.py==1.3.2
Django==2.2.10
django-autocomplete-light
django-celery-beat
django-crispy-forms
django-debug-toolbar
django-debug-toolbar-template-timings
django-multiselectfield==0.1.12
django-redis-cache
django-select2==7.2.2
django-sendgrid-v5==0.8.0
django-storages==1.7.1
django-widget-tweaks==1.4.8
gunicorn
numpy==1.16.2
Pillow==6.2.0
pinax-messages
psycopg2-binary
pytz==2018.9
redis
requests==2.21.0
whitenoise==4.1.2