body{
  background-color: rgb(247, 244, 244);
}

.content-section {
  padding: 10px 20px;
  border: 1px solid grey;
  border-radius: 3px;
  background-color: rgb(76, 84, 92);
  color:white;
}

.sub-body{
  margin-top: 10px;
}

.mediumsprite{
  max-width:50px;
  max-height:50px;
}