*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(65, 67, 68);
}

.body{
    margin: 8px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
  
.navbar li {
    float: left;
}
  
.navbar .right {
    float: right;
}

.navbar li a {
    display: block;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

.navbar img {
    height: 22px;
}

.navbar i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.formblock{
    width:fit-content;
    background-color: rgb(240, 240, 240);
    margin:8px auto;
    padding: 8px;
    border-radius: 8px
}

.formblock h2{
    padding: 0px 0px 8px 0px;
    margin: 0px;
}

/* Small screens */
@media all and (max-width: 500px) {
    .navbar {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}