{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load extratags %}

{% block title %}Tools: Replay Analyzer{% endblock %}
{% block head%}
{% endblock %}
{% block body %}

<div class="row content-section align-items-center">
    <div class="col-md-4 d-flex justify-content-start"><img src="{% static 'main/images/pokeball.png' %}"
            class="rounded-circle mediumlogo"></div>
    <div class="col-md-4">
        <h2 class="d-flex justify-content-center">Replay Analyzer</h2>
    </div>
    <div class="col-md-4 d-flex justify-content-end"><img src="{% static 'main/images/pokeball.png' %}"
            class="rounded-circle mediumlogo"></div>
</div>
<div class="row content-section align-items-center">
    {% if manual_submission %}
    <h4 class="col-md-6">Team 1: {{ match.team1.teamname }}</h4>
    <h4 class="col-md-6">Team 2: {{ match.team2.teamname }}</h4>
    <div class="col-md-12">
        {% crispy form %}
    </div>
    {% elif submission %}
    <div class="col-md-12 d-flex justify-content-end"><a href="{% url 'upload_league_replay_manual' league_name=league_name matchid=matchid %}"><button class="btn btn-primary">Manually Input Data</button></a></div>
    <div class="col-md-12">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy  }}
            <div>
                <input class="btn btn-primary" type="Submit" value="Submit">
            </div>
        </form>
    </div>
    {% else %}
        {% if showreplay %}
            <div class="col-12">
                <iframe src="{{ replay }}" height="500vh" width="100%"></iframe>
            </div>
        {% endif %}
    <div class="col-12">
        <h5 class="d-flex justify-content-center">
            {% if team1.win is 1 %}
                {% if confirm %}
                    Winning Team: {{ team1name.teamname }}
                {% elif showreplay %}
                    Winning Team: {{ team1name.teamname }}
                {% else %}
                    Winning Coach: {{ team1.coach }}
                {% endif %}
            {% elif team2.win is 1 %}
                {% if confirm %}
                    Winning Team: {{ team2name.teamname }}
                {% elif showreplay %}
                    Winning Team: {{ team2name.teamname }}
                {% else %}
                    Winning Coach: {{ team2.coach }}
                {% endif %}
            {% endif %}
        </h5>
        <h5 class="d-flex justify-content-center">
            {% if team1.win is 0 %}
                {% if confirm %}
                    Losing Team: {{ team1name.teamname }}
                {% elif showreplay %}
                    Losing Team: {{ team1name.teamname }}
                {% else %}
                    Losing Coach: {{ team1.coach }}
                {% endif %}
            {% elif team2.win is 0 %}
                {% if confirm %}
                    Losing Team: {{ team2name.teamname }}
                {% elif showreplay %}
                    Losing Team: {{ team2name.teamname }}
                {% else %}
                    Losing Coach: {{ team2.coach }}
                {% endif %}
            {% endif %}
        </h5>
        <h5 class="d-flex justify-content-center">Score:
            {% if team1.win is 1 %}
                {{ team1.score }}-{{ team2.score }}
            {% elif team2.win is 1 %}
                {{ team2.score }}-{{ team1.score }}
            {% endif %}
        </h5>
        <h6 class="d-flex justify-content-center"><a class="text-light" href="{{ replay }}">Replay</a></h6>
    </div>
    <div class=col-md-6>
        <table class="table table-sm text-center bg-lightgrey text-dark">
            <tr>
                <th colspan="4">
                    <div class="d-flex justify-content-center">
                        {% if confirm %}
                            {{ team1name.teamname }}
                        {% elif showreplay %}
                            {{ team1name.teamname }}
                        {% else %}
                            Coach: {{team1.coach}}
                        {% endif %}
                    </div>
                </th>
            </tr>
            <tr>
                <th>Pokemon</th>
                <th>K</th>
                <th>D</th>
                <th>+/-</th>
            </tr>
            <tr>
                <td>
                    <div class="d-flex justify-content-center">
                        <img class="smallsprite"
                            src="https://play.pokemonshowdown.com/sprites/{{ site_settings.sprite|split:0 }}/{{ team1.pokemon1|lower|cut:' '|cut:'.'|cut:':'|cut:'%'|replace:'mega-,mega'|replace:'nidoran-m,nidoran'|replace:'o-o,oo'|replace:'dusk-mane,duskmane'|replace:'dawn-wings,dawnwings' }}.{{ site_settings.sprite|split:1 }}">
                        <div>{{team1.pokemon1}}</div>
                    </div>
                </td>
                <td>{{team1.P1K}}</td>
                <td>{{team1.P1F}}</td>
                <td>{{team1.P1Diff}}</td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex justify-content-center">
                        <img class="smallsprite"
                            src="https://play.pokemonshowdown.com/sprites/{{ site_settings.sprite|split:0 }}/{{ team1.pokemon2|lower|cut:' '|cut:'.'|cut:':'|cut:'%'|replace:'mega-,mega'|replace:'nidoran-m,nidoran'|replace:'o-o,oo'|replace:'dusk-mane,duskmane'|replace:'dawn-wings,dawnwings' }}.{{ site_settings.sprite|split:1 }}">
                        <div>{{team1.pokemon2}}</div>
                    </div>
                </td>
                <td>{{team1.P2K}}</td>
                <td>{{team1.P2F}}</td>
                <td>{{team1.P2Diff}}</td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex justify-content-center">
                        <img class="smallsprite"
                            src="https://play.pokemonshowdown.com/sprites/{{ site_settings.sprite|split:0 }}/{{ team1.pokemon3|lower|cut:' '|cut:'.'|cut:':'|cut:'%'|replace:'mega-,mega'|replace:'nidoran-m,nidoran'|replace:'o-o,oo'|replace:'dusk-mane,duskmane'|replace:'dawn-wings,dawnwings' }}.{{ site_settings.sprite|split:1 }}">
                        <div>{{team1.pokemon3}}</div>
                    </div>
                </td>
                <td>{{team1.P3K}}</td>
                <td>{{team1.P3F}}</td>
                <td>{{team1.P3Diff}}</td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex justify-content-center">
                        <img class="smallsprite"
                            src="https://play.pokemonshowdown.com/sprites/{{ site_settings.sprite|split:0 }}/{{ team1.pokemon4|lower|cut:' '|cut:'.'|cut:':'|cut:'%'|replace:'mega-,mega'|replace:'nidoran-m,nidoran'|replace:'o-o,oo'|replace:'dusk-mane,duskmane'|replace:'dawn-wings,dawnwings' }}.{{ site_settings.sprite|split:1 }}">
                        <div>{{team1.pokemon4}}</div>
                    </div>
                </td>
                <td>{{team1.P4K}}</td>
                <td>{{team1.P4F}}</td>
                <td>{{team1.P4Diff}}</td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex justify-content-center">
                        <img class="smallsprite"
                            src="https://play.pokemonshowdown.com/sprites/{{ site_settings.sprite|split:0 }}/{{ team1.pokemon5|lower|cut:' '|cut:'.'|cut:':'|cut:'%'|replace:'mega-,mega'|replace:'nidoran-m,nidoran'|replace:'o-o,oo'|replace:'dusk-mane,duskmane'|replace:'dawn-wings,dawnwings' }}.{{ site_settings.sprite|split:1 }}">
                        <div>{{team1.pokemon5}}</div>
                    </div>
                </td>
                <td>{{team1.P5K}}</td>
                <td>{{team1.P5F}}</td>
                <td>{{team1.P5Diff}}</td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex justify-content-center">
                        <img class="smallsprite"
                            src="https://play.pokemonshowdown.com/sprites/{{ site_settings.sprite|split:0 }}/{{ team1.pokemon6|lower|cut:' '|cut:'.'|cut:':'|cut:'%'|replace:'mega-,mega'|replace:'nidoran-m,nidoran'|replace:'o-o,oo'|replace:'dusk-mane,duskmane'|replace:'dawn-wings,dawnwings' }}.{{ site_settings.sprite|split:1 }}">
                        <div>{{team1.pokemon6}}</div>
                    </div>
                </td>
                <td>{{team1.P6K}}</td>
                <td>{{team1.P6F}}</td>
                <td>{{team1.P6Diff}}</td>
            </tr>
            <tr>
                <th>Mega Evolved?</th>
                <td>
                    {% if team1.megaevolved %}
                    Yes
                    {% else %}
                    No
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Used Z-Move?</th>
                <td>
                    {% if team1.usedz %}
                    Yes
                    {% else %}
                    No
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-sm text-center bg-lightgrey text-dark">
            <tr>
                <th colspan="4">
                    <div class="d-flex justify-content-center">
                        {% if confirm %}
                            {{ team2name.teamname }}
                        {% elif showreplay %}
                            {{ team1name.teamname }}
                        {% else %}
                            Coach: {{team2.coach}}
                        {% endif %}
                    </div>
                </th>
            </tr>
            <tr>
                <th>Pokemon</th>
                <th>K</th>
                <th>D</th>
                <th>+/-</th>
            </tr>
            <tr>
                <td>
                    <div class="d-flex justify-content-center">
                        <img class="smallsprite"
                            src="https://play.pokemonshowdown.com/sprites/{{ site_settings.sprite|split:0 }}/{{ team2.pokemon1|lower|cut:' '|cut:'.'|cut:':'|cut:'%'|replace:'mega-,mega'|replace:'nidoran-m,nidoran'|replace:'o-o,oo'|replace:'dusk-mane,duskmane'|replace:'dawn-wings,dawnwings' }}.{{ site_settings.sprite|split:1 }}">
                        <div>{{team2.pokemon1}}</div>
                    </div>
                </td>
                <td>{{team2.P1K}}</td>
                <td>{{team2.P1F}}</td>
                <td>{{team2.P1Diff}}</td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex justify-content-center">
                        <img class="smallsprite"
                            src="https://play.pokemonshowdown.com/sprites/{{ site_settings.sprite|split:0 }}/{{ team2.pokemon2|lower|cut:' '|cut:'.'|cut:':'|cut:'%'|replace:'mega-,mega'|replace:'nidoran-m,nidoran'|replace:'o-o,oo'|replace:'dusk-mane,duskmane'|replace:'dawn-wings,dawnwings' }}.{{ site_settings.sprite|split:1 }}">
                        <div>{{team2.pokemon2}}</div>
                    </div>
                </td>
                <td>{{team2.P2K}}</td>
                <td>{{team2.P2F}}</td>
                <td>{{team2.P2Diff}}</td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex justify-content-center">
                        <img class="smallsprite"
                            src="https://play.pokemonshowdown.com/sprites/{{ site_settings.sprite|split:0 }}/{{ team2.pokemon3|lower|cut:' '|cut:'.'|cut:':'|cut:'%'|replace:'mega-,mega'|replace:'nidoran-m,nidoran'|replace:'o-o,oo'|replace:'dusk-mane,duskmane'|replace:'dawn-wings,dawnwings' }}.{{ site_settings.sprite|split:1 }}">
                        <div>{{team2.pokemon3}}</div>
                    </div>
                </td>
                <td>{{team2.P3K}}</td>
                <td>{{team2.P3F}}</td>
                <td>{{team2.P3Diff}}</td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex justify-content-center">
                        <img class="smallsprite"
                            src="https://play.pokemonshowdown.com/sprites/{{ site_settings.sprite|split:0 }}/{{ team2.pokemon4|lower|cut:' '|cut:'.'|cut:':'|cut:'%'|replace:'mega-,mega'|replace:'nidoran-m,nidoran'|replace:'o-o,oo'|replace:'dusk-mane,duskmane'|replace:'dawn-wings,dawnwings' }}.{{ site_settings.sprite|split:1 }}">
                        <div>{{team2.pokemon4}}</div>
                    </div>
                </td>
                <td>{{team2.P4K}}</td>
                <td>{{team2.P4F}}</td>
                <td>{{team2.P4Diff}}</td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex justify-content-center">
                        <img class="smallsprite"
                            src="https://play.pokemonshowdown.com/sprites/{{ site_settings.sprite|split:0 }}/{{ team2.pokemon5|lower|cut:' '|cut:'.'|cut:':'|cut:'%'|replace:'mega-,mega'|replace:'nidoran-m,nidoran'|replace:'o-o,oo'|replace:'dusk-mane,duskmane'|replace:'dawn-wings,dawnwings' }}.{{ site_settings.sprite|split:1 }}">
                        <div>{{team2.pokemon5}}</div>
                    </div>
                </td>
                <td>{{team2.P5K}}</td>
                <td>{{team2.P5F}}</td>
                <td>{{team2.P5Diff}}</td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex justify-content-center">
                        <img class="smallsprite"
                            src="https://play.pokemonshowdown.com/sprites/{{ site_settings.sprite|split:0 }}/{{ team2.pokemon6|lower|cut:' '|cut:'.'|cut:':'|cut:'%'|replace:'mega-,mega'|replace:'nidoran-m,nidoran'|replace:'o-o,oo'|replace:'dusk-mane,duskmane'|replace:'dawn-wings,dawnwings' }}.{{ site_settings.sprite|split:1 }}">
                        <div>{{team2.pokemon6}}</div>
                    </div>
                </td>
                <td>{{team2.P6K}}</td>
                <td>{{team2.P6F}}</td>
                <td>{{team2.P6Diff}}</td>
            </tr>
            <tr>
                <th>Mega Evolved?</th>
                <td>
                    {% if team2.megaevolved %}
                    Yes
                    {% else %}
                    No
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Used Z-Move?</th>
                <td>
                    {% if team2.usedz %}
                    Yes
                    {% else %}
                    No
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    {% endif %}
    {% if confirm %}
        <div class="col-12 d-flex justify-content-center">
            <div>
                <form action="{% url 'confirm_league_replay' league_name=league_name matchid=matchid %}" method="post">
                    {% csrf_token %}
                    <div hidden>{{ form }}</div>
                    <input class="btn btn-success" type="submit" value="Confirm">
                </form>
                <button class="btn btn-danger">Reject</button>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}