{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Settings{% endblock %}
{% block head%}
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-4">
        <div class="bg-darkgrey rounded text-light p-3">
            <div class="d-flex justify-content-between">
                <h3>Settings</h3>
                <a href="{% url 'individual_league_settings' league_name=league_name %}"><button
                        class="btn btn-primary">Back</button></a>
            </div>
            {% include 'settingssidebar.html' %}
        </div>
    </div>
    <div class="col-md-8">
        <div class="bg-darkgrey rounded p-3 text-light">
            <div class="d-flex justify-content-between">
            <h3>League Configuration of {{league_name}}</h3>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Manage Subleague
                    <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right text-center p-0">
                    {% for item in subleagues %}
                    <a class="text-dark" href="{% url 'manage_seasons' league_name=league_name subleague_name=item.subleague %}">
                                <li class="border">{{item.subleague}}</li>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
            <form method="post">{% csrf_token %}
                {{ form|crispy }}
                <input name="purpose" class="btn btn-primary" type="submit" value="Submit">
            </form>
            {% if showsubleagues %}
            <h4>Subleagues</h4>
            
            {% for item in subleagues %}
            <div>
                <form method="post">{% csrf_token %}
                <input name="slname" value={{item.subleague}}>
                <input name="itemid" value={{item.id}} hidden>
                <input name="purpose" class="btn btn-primary btn-sm" type="submit" value="Rename">
                </form>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}