{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{league.name}}{% endblock %}
{% block head%}
{% endblock %}
{% block body %}

<div class="row content-section align-items-center">
    <div class="col-md-4 d-flex justify-content-start"><img src="{{league.logo.url}}" class="rounded-circle mediumlogo">
    </div>
    <div class="col-md-4">
        <h3 class="d-flex justify-content-center">{{league.name}}</h3>
        <div class="d-flex justify-content-center">Hosted by {{league.host}}</div>
        {% if league.league_settings.discordurl is not 'Not Provided' %}
        <div class="d-flex justify-content-center">
            <a href="{{ item.league_settings.discordurl }}"><button class="btn btn-primary">Join the
                    Discord</button></a>
        </div>
        {% endif %}
    </div>
    <div class="col-md-4 d-flex justify-content-end">
        {% if league.league_settings.is_recruiting %}
        <div class="d-flex justify-content-center text-success">Recruiting Coaches!</div>
        {% if apply %}
        <div class="d-flex justify-content-center"><a href="apply"><button class="btn btn-success">Apply</button></a>
        </div>
        {% endif %}
        {% else  %}
        <div class="d-flex justify-content-center text-danger">Not Recruiting</div>
        {% endif %}
    </div>
</div>
<div class="row content-section align-items-center">
    <h4 class="col-md-6 text-center">
        Current Week: 
        {% if seasonstart %}
        <span id="currentweek"></span>
        {% else %}
        <span>Not currently in season</span>
        {% endif %}
    </h4>
    <h4 class="col-md-6 text-center">
        Time Remaining In Week: 
        {% if seasonstart %}
        <span id="remaining"></span>
        {% else %}
        <span>Not currently in season</span>
        {% endif %}
    </h4>
</div>
<div class="row content-section align-items-center">
    <div class="col-md-12">
        <div class="row align-items-center">
            <div class="col-md-12 d-flex justify-content-center">
                <h3>Standings</h3>
            </div>
        </div>
        <div class="row align-items-start">
            <div class="col-md-12">
                <table class="table table-sm bg-lightgrey text-dark text-center">
                    <tr>
                        <th colspan="7">{{ conference }}</th>
                    </tr>
                    <tr>
                        <th>Team</th>
                        <th>W</th>
                        <th>L</th>
                        <th>Tie</th>
                        <th>GP</th>
                        <th>GW</th>
                        <th>+/-</th>
                    </tr>
                    {% for name,teamlist in parent_teams %}
                    <tr>
                        <td>
                            <div class="d-flex justify-content-center">
                                <img class="smallsprite mx-1" src="{{ name.logo.url }}">
                                <div>{{name.name}}</div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% for name,teamlist in parent_teams %}
                <div class="col-md-6">
                    <table class="table table-sm bg-lightgrey text-dark text-center">
                        <tr>
                            <th colspan="5">{{name.name}}</th>
                        </tr>
                        <tr>
                            <th>Team</th>
                            <th>W</th>
                            <th>L</th>
                            <th>+/-</th> 
                            <th>Streak</th>
                        </tr>
                        {% for item in teamlist %}
                            <tr>
                                <td>
                                    <div class="d-flex">
                                        <img class="smallsprite mx-1" src="{{item.logo.url}}">
                                        <div>{{item.teamname}} ({{item.teamabbreviation}})</div>
                                    </div>
                                </td>
                                <td>{{item.wins}}</td>
                                <td>{{item.losses}}</td>
                                <td>{{item.differential}}</td>
                                <td>
                                    {% if item.streak > -1 %}
                                        Win-{{item.streak}}
                                    {% else %}
                                        Lose{{item.streak}}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<script>
    // Set the date we're counting down to
    var startDate = '{{seasonstart}}'
    var oldCountDownDate = new Date(startDate);


    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();
        var week = Math.ceil((new Date() - oldCountDownDate) / 60 / 60 / 24 / 7 / 1000)
        var countDownDate = new Date(startDate);
        countDownDate.setDate(oldCountDownDate.getDate() + week * 7);

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="demo"
        document.getElementById("remaining").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";
        
        document.getElementById("currentweek").innerHTML = "Week " + week;
        // If the count down is over, write some text 
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("remaining").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>
{% endblock %}