{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{league.name}}{% endblock %}
{% block head%}
<script type="text/javascript" src="{% static 'accounts/scripts/admin.js' %}"></script>
<script type="text/javascript" src="{% static 'accounts/scripts/core.js' %}"></script>
<script type="text/javascript" src="{% static 'accounts/scripts/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'accounts/scripts/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'accounts/scripts/SelectFilter2.js' %}"></script>
<script type="text/javascript" src="{% static 'accounts/scripts/SelectBox.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'accounts/styles/widgets.css' %}" />
{% endblock %}
{% block body %}
<div class="bg-darkgrey rounded p-2 text-light">
    <div class="row align-items-start">
        <div class="col-md-12">
            <h3>Coach Application for {{league.name}}</h3>
            <div class="d-flex">
            <form method="post" enctype="multipart/form-data" class="w-100">
                    {% csrf_token %}
                    {% for form in forms %}
                        {{ form|crispy }}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Apply</button>
                </form>
            </div>    
        </div>
    </div>
</div>
{% endblock %}