{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Settings{% endblock %}
{% block head%}
{% endblock %}
{% block body %}
<div class="row">
        <div class="col-md-4">
                <div class="content-section">
                    <div class="d-flex justify-content-between">
                        <h3>Settings</h3>
                        <a href="{% url 'individual_league_settings' league_name=league_name %}"><button class="btn btn-primary">Back</button></a>
                    </div>
                    {% include 'settingssidebar.html' %}
                </div>
            </div>
        <div class="col-md-8">
            <div class="row content-section">
                <div class="col-md-6">
                    <h4>Applicants (Total: {{totalapplicants}})</h4>
                    {% if spotsremaining %}
                        {% for item in applicants %}
                        <form action="{% url 'addcoach' league_name=league_name %}" method="POST">
                            {% csrf_token %}
                            <div class="row d-flex align-items-center">
                                <input type="text" value="{{ item.applicant }}" name="coach"  hidden>
                                <input type="submit" class="btn btn-primary" value="Add">
                                <div>{{ item.applicant }}</div>
                            </div>  
                        </form>
                        {% endfor %}
                    {% else %} 
                        <p>Your league has reached max capacity! To add coaches, either increase capacity or remove a current coach.</p>
                    {% endif %}       
                </div>
                <div class="col-md-6">
                    <h4>Coachs (Spots Remaining: {{ numberofcoachs }})</h4>
                    {% for item in coachs %}
                    <form action="{% url 'removecoach' league_name=league_name %}" method="POST">
                        {% csrf_token %}
                        <div class="row d-flex align-items-center">
                            <input type="text" value="{{ item.coach }}" name="coach" hidden>
                            <button type="submit" class="btn btn-primary">Remove</button>
                            <div>{{ item.coach }}</div>
                        </div>  
                    </form>
                    {% endfor %}
                </div>
            </div>
        </div>
</div>
{% endblock %}