{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Settings{% endblock %}
{% block head%}
{% endblock %}
{% block body %}
<div class="row">
        <div class="col-md-4">
                <div class="content-section">
                  <h3>Settings</h3>
                    <ul class="list-group">
                        {% if usersettings %}
                            <a href="{% url 'settings' %}"><li class="list-group-item list-group-item-light active">User</li></a>
                        {% else %}
                            <a href="{% url 'settings' %}"><li class="list-group-item list-group-item-light">User</li></a>
                        {% endif %}
                        {% if leagueshosted %}
                            {% if leagueshostedsettings %}
                                <a href="{% url 'leagues_hosted_settings' %}"><li class="list-group-item list-group-item-light active">Leagues Hosting</li></a>
                            {% else %}
                                <a href="{% url 'leagues_hosted_settings' %}"><li class="list-group-item list-group-item-light">Leagues Hosting</li></a>
                            {% endif %}       
                        {% endif %}   
                        {% if leaguescoaching %}
                            {% if leaguescoachingsettings %}
                                <a href="{% url 'leagues_coaching_settings' %}"><li class="list-group-item list-group-item-light active">Leagues Coaching</li></a>
                            {% else %} 
                                <a href="{% url 'leagues_coaching_settings' %}"><li class="list-group-item list-group-item-light">Leagues Coaching</li></a>
                            {% endif %}     
                        {% endif %}       
                    </ul>
                </div>
            </div>
        <div class="col-md-8">
            <div class="row content-section">
                <div class="col-md-6">
                    <h2>Applicants</h2>
                    {% for item in applicants %}
                    <form action="{% url 'addcoach' league_name=league_name %}" method="POST">
                        {% csrf_token %}
                        <div class="row d-flex align-items-center">
                            <input type="text" value="{{ item.applicant }}" name="coach"  hidden>
                            <input type="submit" class="btn btn-primary" value="Add">
                            <div>{{ item.applicant }}</div>
                        </div>  
                    </form>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <h2>Coachs</h2>
                    {% for item in coachs %}
                    <form action="{% url 'removecoach' league_name=league_name %}" method="POST">
                        {% csrf_token %}
                        <div class="row d-flex align-items-center">
                            <input type="text" value="{{ item.coach }}" name="coach" hidden>
                            <button type="submit" class="btn btn-primary">Remove</button>
                            <div>{{ item.coach }}</div>
                        </div>  
                    </form>
                    {% endfor %}
                </div>
            </div>
        </div>
</div>
{% endblock %}