{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load extratags %}

{% block title %}Settings{% endblock %}
{% block head%}
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-4">
        <div class="content-section">
            <div class="d-flex justify-content-between">
                <h3>Settings</h3>
                <a href="{% url 'individual_league_settings' league_name=league_name %}"><button
                        class="btn btn-primary">Back</button></a>
            </div>
            {% include 'settingssidebar.html' %}
        </div>
    </div>
    <div class="col-md-8">
        <div class="row content-section">
            <div class="col-md-12 d-flex justify-content-between p-0 m-0">
                {% if not defaulttemplate %}
                <h3>Update Tiers</h3>
                <a href="{% url 'default_tiers' league_name=league_name subleague_name=subleague.subleague %}"><button class="btn btn-primary">Use Tier
                        Template</button></a>
                {% else %}
                <h3 class="p-0 m-0">Select Template</h3>
                {% endif %}
            </div>
            <div class="col-md-12">
                {% if defaulttemplate %}
                <form action="{% url 'default_tiers' league_name=league_name subleague_name=subleague.subleague %}" method="post">
                    {% csrf_token %}
                    <div>
                        <label for="template-select">Choose a template:</label>
                        <select id="template-select" name="template-select">
                            {% for item in availabletemplates %}
                            <option value="{{ item.template }}">{{ item.template }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <input name="purposeid" class="btn btn-primary" type="submit" value="Select">
                    </div>
                </form>
                <br>
                <h3>Or choose a league whose tiers you want to use</h3>
                <form action="{% url 'default_tiers' league_name=league_name subleague_name=subleague.subleague %}" method="post">
                    {% csrf_token %}
                    <div>
                        <label for="template-select">Choose a league:</label>
                        <select id="leagueid" name="leagueid">
                            {% for item in allleagues %}
                            {% for item1 in item.subleague.all %}
                            <option value="{{ item1.id }}">{{ item1 }}</option>
                            {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <input name="purposeid" class="btn btn-primary" type="submit" value="Use">
                    </div>
                </form>
                {% else %}
                <div style="height: 500px;" class="table-responsive text-nowrap overflow-auto">
                    <table class="table text-dark bg-lightgrey text-center">
                        <tr>
                            <th data-tier="Untiered" class="ut px-2">Untiered</th>
                            {% for item in leaguetiers %}
                            <th data-tier="{{item.id}}" class="px-2">{{ item.tiername }}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="nt ut">
                                {% for item_ in untiered %}
                                <div data-tierid="Untiered" data-pokemonid="{{item_.id}}">{{item_.pokemon.pokemon}}<span class="rightarrow">&rarr;</span></div>
                                {% endfor %}
                            </td>
                            {% for item in leaguetiers %}
                            <td class="wt">
                                {% if forloop.last %}
                                {% for item_ in item.pokemon_tier_set.all %}
                                    <div data-tierid="{{item_.id}}" data-pokemonid="{{item_.pokemon.id}}"><span class="leftarrow">&larr;</span>{{item_.pokemon.pokemon}}</div>
                                {% endfor %}
                                {% elif forloop.first %}
                                {% for item_ in item.pokemon_tier_set.all %}
                                    <div data-tierid="{{item_.id}}" data-pokemonid="{{item_.pokemon.id}}">{{item_.pokemon.pokemon}}<span class="rightarrow">&rarr;</span></div>
                                {% endfor %}
                                {% else %}
                                {% for item_ in item.pokemon_tier_set.all %}
                                    <div data-tierid="{{item_.id}}" data-pokemonid="{{item_.pokemon.id}}"><span class="leftarrow">&larr;</span>{{item_.pokemon.pokemon}}<span class="rightarrow">&rarr;</span></div>
                                {% endfor %}
                                {% endif %}
                            </td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
                <div><input id="hideut" class="px-1" type="checkbox" name="hide" value="hide">Hide Untiered</div>
                {% endif %}
            </div>
        </div>
        <div class="row content-section">
            {% if editingtier %}
            <div class="col-md-12">
                <div>
                    <h3>Edit Tier</h3>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for form in forms %}
                    {{ form|crispy  }}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </div>
            {% else %}
            <div class="col-md-7">
                <div>
                    <h3>Your Leagues Tiers</h3>
                </div>
                {% if leaguetiers %}
                {% for item in leaguetiers%}
                <div class="row d-flex align-items-center justify-content-between">
                    <h5>{{ item.tiername }} ({{ item.tierpoints }} points)</h5>
                    <div class="d-flex">
                        <a href="{% url 'edit_tier' league_name=league_name subleague_name=subleague.subleague tierid=item.id %}"><button
                                class="btn btn-primary buttonpadding">Edit</button></a>
                        <form action="{% url 'delete_tier' league_name=league_name subleague_name=subleague.subleague %}" method="POST">
                            {% csrf_token %}
                            <input type="text" name="tiertodelete" value="{{ item.id }}" hidden>
                            <button type="submit" class="btn btn-danger buttonpadding">Delete</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div>Your league does not currently have any tier definitions.</div>
                {% endif %}
            </div>
            {% if managetiers %}
            <div class="col-md-5">
                <div>
                    <h3>Add Tier</h3>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for form in forms %}
                    {{ form|crispy  }}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}
{% block footer %}
<!-- select code -->
<script src="{% static 'leagues/scripts/managetiers.js' %}"></script>
{% endblock %}