{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Settings{% endblock %}
{% block head%}
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-4">
        <div class="content-section">
            <div class="d-flex justify-content-between">
                <h3>Settings</h3>
                <a href="{% url 'individual_league_settings' league_name=league_name %}"><button
                        class="btn btn-primary">Back</button></a>
            </div>
            {% include 'settingssidebar.html' %}
        </div>
    </div>
    <div class="col-md-8">
        <div class="row content-section">
            <div class="col-12 d-flex justify-content-between">
                <h4>Manage {{coachofinterest.coach.username}}</h4>
                <div class="row">
                <form class="col-md-4" method="POST">
                        {% csrf_token %}
                        <input type="text" value="{{ coachofinterest.id }}" name="coachtoupdate" hidden>
                        <input name="formtype" type="submit" class="btn btn-primary buttonpadding" value="Add Showdown Alt">
                </form>
                <form class="col-md-4" method="post">{% csrf_token %}
                    <input type="text" value="{{ coachofinterest.id }}" name="coachtoupdate" hidden>
                    <input name="formtype" type="submit" class="btn btn-primary buttonpadding" value="Adjust Record">
                </form>
                <form class="col-md-4" method="post">{% csrf_token %}
                        <input type="text" value="{{ coachofinterest.id }}" name="coachtoupdate" hidden>
                        <input name="formtype" type="submit" class="btn btn-primary buttonpadding" value="Adjust Draft">
                    </form>
                    <form class="col-md-3" method="post">{% csrf_token %}
                        <input type="text" value="{{ coachofinterest.id }}" name="coachtoupdate" hidden>
                        <input name="formtype" type="submit" class="btn btn-primary buttonpadding" value="Adjust Roster">
                </form>
                {% if seasonnotinsession %}
                <form class="col-md-4" action="{% url 'removecoach' league_name=league_name %}" method="POST">
                    {% csrf_token %}
                        <input type="text" value="{{ coachofinterest.id }}" name="coachtoupdate" hidden>
                        <input name="formtype" type="submit" class="btn btn-danger buttonpadding" value="Remove Coach">
                </form>
                {% endif %}
                </div>
            </div>
            <div class="col-12">
                <datalist id="allpokemon">
                    {% for item in allpokemonlist %}
                    <option value="{{item.pokemon}}">
                    {% endfor %}
                </datalist>
                {% if coachform %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy  }}
                    <input type="text" value="{{ coachofinterest.id }}" name="coachtoupdate" hidden>
                    <input name="formtype" type="submit" class="btn btn-primary" value="Update">
                </form>
                {% elif adjustdraft %}
                <h5>Draft</h5>
                {% for item in coachtoupdate.draftpicks.all %}
                    <form method="post">{% csrf_token %}
                        <input name="pokemontoupdate" value={{item.id}} hidden>
                        <input type="text" value="{{ coachofinterest.id }}" name="coachtoupdate" hidden>
                        <input name="pokemontoupdateto" list="allpokemon" value="{{item.pokemon.pokemon}}">
                        <input name="formtype" type="submit" class="btn btn-primary buttonpadding" value="Update Draft">
                    </form>
                {% endfor %}
                {% elif adjustroster %}
                <h5>Roster</h5>
                {% for item in coachtoupdate.teamroster.all %}
                    <form method="post">{% csrf_token %}
                        <input name="pokemontoupdate" value={{item.id}} hidden>
                        <input type="text" value="{{ coachofinterest.id }}" name="coachtoupdate" hidden>
                        <input name="pokemontoupdateto" list="allpokemon" value="{{item.pokemon.pokemon}}">
                        <input name="formtype" type="submit" class="btn btn-primary buttonpadding" value="Update Roster">
                    </form>
                {% endfor %}
                {% elif adjustrecord %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy  }}
                    <input type="text" value="updatecoachdata" name="formtype" hidden>
                    <input type="text" value="{{ coachofinterest.id }}" name="coachtoupdate" hidden>
                    <input type="submit" class="btn btn-primary" value="Update">
                </form>
                {% elif addalt %}
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="givenalt">
                    <input type="text" value="addalt" name="formtype" hidden>
                    <input type="text" value="{{ coachofinterest.id }}" name="coachtoupdate" hidden>
                    <input type="submit" class="btn btn-primary" value="Add Alt">
                </form>
                <h5>Existing Alts</h5>
                {% for item in alts %}
                <div>-{{ item.showdownalt }}</div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}