{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Settings{% endblock %}
{% block head%}
<script type="text/javascript" src="{% static 'accounts/scripts/admin.js' %}"></script>
<script type="text/javascript" src="{% static 'accounts/scripts/core.js' %}"></script>
<script type="text/javascript" src="{% static 'accounts/scripts/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'accounts/scripts/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'accounts/scripts/SelectFilter2.js' %}"></script>
<script type="text/javascript" src="{% static 'accounts/scripts/SelectBox.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'accounts/styles/widgets.css' %}" />

{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-4">
        <div class="content-section">
            <div class="d-flex justify-content-between">
                <h3>Settings</h3>
                {% if leagueshostedsettings %}
                <a href="{% url 'leagues_hosted_settings' %}"><button class="btn btn-primary">Back</button></a>
                {% endif %}
            </div>
            {% include 'settingssidebar.html' %}
        </div>
    </div>
    <div class="col-md-8">
        <div class="bg-darkgrey text-light rounded p-2">
            <h3>Set Match Due Dates</h3>
            <div>For due dates use the following format (Timezone: UTC): YYYY-MM-DD HH:MM</div>
            {% for item in matchs %}
            <form method="post">{% csrf_token %}
                <span>Week: {{ item.week }}</span>
                <input name="matchid" type="text" value="{{item.id}}">
                <input name="duedate" type="text" value="{{item.duedate}}">
                <input type="submit" class="btn btn-primary">
            </form>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}