{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Draft Planner{% endblock %}
{% block head%}
{% endblock %}
{% block body %}
<div class="row bg-darkgrey rounded text-light mb-2 align-items-center">
    <div class="col-4">
        <div class="bg-lightgrey text-dark text-center border m-1 rounded">
        <h5>Save Current Draft</h5>
        <form>{% csrf_token %}
            <input type="text" value="Untitled">
            <button class="btn btn-primary btn-sm">Save</button>
        </form>
        </div>
    </div>
    <div class="col-4">
        <div class="bg-lightgrey text-dark text-center border m-1 rounded">
        <h5>Load Existing Draft</h5>
        <form>{% csrf_token %}
            <select></select>
            <button class="btn btn-primary btn-sm">Load</button>
        </form>
        </div>
    </div>
    <div class="col-4">
            <div class="bg-lightgrey text-dark text-center border m-1 rounded">
            <h5>Delete Current Draft</h5>
            <form>{% csrf_token %}
                <button class="btn btn-danger btn-sm">Delete</button>
            </form>
            </div>
    </div>
</div>
<div class="row bg-darkgrey rounded text-light mb-2 align-items-center">
    <div class="col-12">
        <div id="topmonlist" class="row mx-0 my-2 d-flex justify-content-center">
            <div class='col-1 bg-lightgrey text-dark text-center border'>
                <img src='https://play.pokemonshowdown.com/sprites/xyani/unown-question.gif'>
            </div>
            <div id="addmon"
                class="col-1 bg-lightgrey text-dark text-center border d-flex align-items-center justify-content-center">
                <strong>+</strong>
            </div>
        </div>
    </div>
</div>
<div class="row bg-darkgrey rounded text-light mb-2 align-items-center">
    <div class="col-12">
        <div class="row mx-0 mt-2 bg-lightgrey text-dark border">
            <div class="col-2 py-2">
                <div class="d-flex justify-content-center"><img
                        src="https://play.pokemonshowdown.com/sprites/xyani/unown-question.gif"></div>
                <small><strong>Pokemon</strong></small>
                <form>{% csrf_token %}
                    <input id="moninput" type="text">
                </form>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div id="monsearchlist" class="row mx-0 mb-2 bg-lightgrey text-dark scrolldiv">
        </div>
    </div>
</div>
<div class="row bg-darkgrey rounded text-light mb-2 justify-content align-items-center">
    <div class="col-sm-4 mt-2">
        <table class="table table-sm rounded bg-lightgrey text-center text-dark">
            <tr>
                <th colspan="2">Important Moves</th>
            </tr>
            <tr>
                <td>Stealth Rock</td>
                <td>None</td>
            </tr>
            <tr>
                <td>Spikes</td>
                <td>None</td>
            </tr>
            <tr>
                <td>Toxic Spikes</td>
                <td>None</td>
            </tr>
            <tr>
                <td>Sticky Web</td>
                <td>None</td>
            </tr>
            <tr>
                <td>Defog</td>
                <td>None</td>
            </tr>
            <tr>
                <td>Rapid Spin</td>
                <td>None</td>
            </tr>
            <tr>
                <td>Heal Bell/Aromatherapy</td>
                <td>None</td>
            </tr>
            <tr>
                <td>Wish</td>
                <td>None</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-4 mt-2">
        <table class="table table-sm bg-lightgrey text-center text-dark rounded">
            <tr>
                <th colspan="3">Cores</th>
            </tr>
            <tr>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Grass.png"></td>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Fire.png"></td>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Water.png"></td>
            </tr>
            <tr>
                <td>X</td>
                <td>X</td>
                <td>X</td>
            </tr>
            <tr>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Dark.png"></td>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Fighting.png"></td>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Psychic.png"></td>
            </tr>
            <tr>
                <td>X</td>
                <td>X</td>
                <td>X</td>
            </tr>
            <tr>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Dragon.png"></td>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Fairy.png"></td>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Steel.png"></td>
            </tr>
            <tr>
                <td>X</td>
                <td>X</td>
                <td>X</td>
            </tr>
            <tr>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Electric.png"></td>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Ground.png"></td>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Poison.png"></td>
            </tr>
            <tr>
                <td>X</td>
                <td>X</td>
                <td>X</td>
            </tr>
            <tr>
            <tr>
                <td colspan="3"><img src="https://play.pokemonshowdown.com/sprites/types/Ghost.png"></td>
            </tr>
            <tr>
                <td colspan="3">X</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-4 mt-2">
        <table class="table table-sm rounded bg-lightgrey text-center text-dark">
            <tr>
                <th colspan="2">Speed Tiers</th>
            </tr>
            <tr>
                <td>&#60;=30</td>
                <td>None</td>
            </tr>
            <tr>
                <td>30-51</td>
                <td>None</td>
            </tr>
            <tr>
                <td>51-70</td>
                <td>None</td>
            </tr>
            <tr>
                <td>71-90</td>
                <td>None</td>
            </tr>
            <tr>
                <td>91-110</td>
                <td>None</td>
            </tr>
            <tr>
                <td>&#62;110</td>
                <td>None</td>
            </tr>
            <tr>
                <td>Largest Speed Gap</td>
                <td>N/A</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-6">
        <table class="table table-sm bg-lightgrey rounded text-dark text-center">
            <tr>
                <th colspan="4">Resistances</td>
            </tr>
            <tr>
                <th>Type</th>
                <th>x0</th>
                <th>x0.25</th>
                <th>x0.5</th>
            </tr>
            <tr>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Bug.png"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Dark.png"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Dragon.png"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Electric.png"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Fairy.png"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Fighting.png"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Fire.png"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Flying.png"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Ghost.png"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Grass.png"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Ground.png"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Ice.png"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Normal.png"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Poison.png"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Psychic.png"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Rock.png"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Steel.png"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><img src="https://play.pokemonshowdown.com/sprites/types/Water.png"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
{% block footer %}

{% endblock %}
{% endblock %}