{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Draft Planner{% endblock %}
{% block head%}

{% endblock %}
{% block body %}
<div class="row bg-darkgrey rounded text-light mb-2 align-items-center">
    <div class="col-2">
        <div class="bg-dark text-light text-center border my-2 p-2 rounded">
            <strong>Current Draft Name</strong>
            <input class="form-control form-control-sm" id="draftname" type="text" value="{{defaultname}}">
        </div>
    </div>
    <div class="col-4">
        <div class="bg-dark text-light text-center border my-2 p-2 rounded align-items-stretch">
            <strong>Associated League</strong>
            <select class="form-control form-control-sm" id="associatedleague">
                <option value="None">None Selected</option>
                {% for item in availablesubleagues %}
                <option value={{item.id}}>{{item.league.name}}-{{item.subleague}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-3">
        <div class="bg-dark text-light text-center border my-2 p-2 rounded">
            <strong>Load Existing Draft</strong>
            <select class="form-control form-control-sm" id="draftselect">
                <option value="None">None Selected</option>
                {% for item in usersdrafts %}
                <option value={{item.id}}>{{item.draftname}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-3">
        <div class="bg-dark text-light text-center border my-2 p-2 rounded">
            <button id="deletebutton" class="btn btn-danger btn-sm">Delete Current Draft</button>
        </div>
    </div>
</div>
<div class="row bg-darkgrey rounded text-light mb-2 align-items-center">
    <div class="col-12">
        <div hidden><input id="draftloaded"></div>
        <div id="topmonlist" class="row mx-0 my-2 d-flex justify-content-center">
            <div class='col-1 activemon text-dark text-center border nomonselected topmon'>
                <img class="mediumsprite" src='/static/pokemondatabase/sprites/question.png'>
            </div>
            <div id="addmon"
                class="col-1 bg-lightgrey text-dark text-center border d-flex align-items-center justify-content-center">
                <strong>+</strong>
            </div>
            <h4 id="availablepoints" class="col-12 text-center d-none">Available Points: <span id="remainingpoints">0</span>/<span id="totalpoints">0</span></h4>
        </div>
    </div>
</div>
<div class="row bg-darkgrey rounded pb-2 mb-2">
    <div class="col-12">
        <div class="bg-lightgrey text-dark mt-2 border border-dark">
            <div class="row d-flex m-0 p-0">
                <div class="col-12"><img id="deleteitembutton" class="smallsprite border border-secondary p-1 rounded mt-1 btn" src="{% static 'main/images/trash.png' %}">
                    <span class="mt-1" id="filterarea"></span>
                </div>
                <div class="col-3 p-1">
                    <div class="text-center">
                        <div id="selectedmon" class="d-flex justify-content-center"><img class="mediumsprite"
                                src="/static/pokemondatabase/sprites/question.png"></div>
                        <div>Pokemon</div>
                        <input class="form-control form-control-sm" id="moninput" type="text">
                    </div>
                </div>
                <div class="col-1 p-1">
                    <div class="card table-responsive bg-lightgrey text-dark text-center text-nowrap overflow-auto">
                        <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                            <tr class="bg-dark text-light">
                                <th colspan="1">Typing</th>
                            </tr>
                            <tr>
                                <td id="typingbox">-</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-3 p-1">
                    <div class="card table-responsive bg-lightgrey text-dark text-center text-nowrap overflow-auto">
                        <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                            <tr class="bg-dark text-light">
                                <th colspan="1">Abilities</th>
                            </tr>
                            <tr>
                                <td id="abilitybox">-</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-3 p-1">
                    <div class="card table-responsive bg-lightgrey text-dark text-center text-nowrap overflow-auto">
                        <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                            <tr class="bg-dark text-light">
                                <td>HP</td>
                                <td>Atk</td>
                                <td>Def</td>
                                <td>SpA</td>
                                <td>SpD</td>
                                <td>Spe</td>
                                <td>BST</td>
                            </tr>
                            <tr id="statbox">
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-2 p-1">
                    <div class="card table-responsive bg-lightgrey text-dark text-center text-nowrap overflow-auto">
                        <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                            <tr class="bg-dark text-light">
                                <th colspan="1">Useful Moves</th>
                            </tr>
                            <tr>
                                <td id="movesbox">-</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div id="monsearchlist" class="scrolldiv"></div>
    </div>
</div>
<div class="row bg-darkgrey rounded text-light mb-2 align-items-center">
    <div class="col-12">
        <div class="bg-lightgrey text-dark text-center border my-2 rounded">
            <h2>Draft Score: <span id="draftscore">0</span>/100</h2>
            <div><button id="showcriteria" class="btn btn-sm btn-primary">Show Criteria</button></div>
            <div id="criteriatable" class="d-none">
                <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                    <tr class="bg-dark text-light"><th colspan="2">Draft Scoring Criteria</th></tr>
                    <tr class="bg-dark text-light"><th>Criteria</th><th>Points</th></tr>
                    <tr class="bg-dark text-light"><th colspan="2">Type Cores</th></tr>
                    <tr><td>Fire-Grass-Water Core</td><td>2 points per type+2 points for complete core</td></tr>
                    <tr><td>Dark-Fighting-Psychic Core</td><td>2 points per type+2 points for complete core</td></tr>
                    <tr><td>Dragon-Fairy-Steel Core</td><td>2 points per type+2 points for complete core</td></tr>
                    <tr><td>Electric-Ground-Poison Core</td><td>2 points per type+1 point for complete core</td></tr>
                    <tr><td>Ghost Type</td><td>2</td></tr>
                    <tr class="bg-dark text-light"><th colspan="2">Speed Tiers</th></tr>
                    <tr><td>>=1 Pokemon w/ Base Speed &lt;=30</td><td>2</td></tr>
                    <tr><td>>=1 Pokemon w/ Base Speed 31-50</td><td>2</td></tr>
                    <tr><td>>=1 Pokemon w/ Base Speed 51-70</td><td>2</td></tr>
                    <tr><td>>=1 Pokemon w/ Base Speed 71-90</td><td>2</td></tr>
                    <tr><td>>=1 Pokemon w/ Base Speed 91-110</td><td>2</td></tr>
                    <tr><td>>=1 Pokemon w/ Base Speed >110</td><td>3</td></tr>
                    <tr><td>Largest Speed Gap &lt;=20</td><td>3</td></tr>
                    <tr class="bg-dark text-light"><th colspan="2">Important Moves</th></tr>
                    <tr><td>>=1 Pokemon w/ Stealth Rocks</td><td>2 per Pokemon (4 points max) </td></tr>
                    <tr><td>>=1 Pokemon w/ Spikes or Toxic Spikes or Sticky Web</td><td>2</td></tr>
                    <tr><td>>=1 Pokemon w/ Hazard Control</td><td>2 per Pokemon (4 points max) </td></tr>
                    <tr><td>>=1 Pokemon w/ Heal Bell or Aromatherapy</td><td>2</td></tr>
                    <tr><td>>=1 Pokemon w/ Wish</td><td>2</td></tr>
                    <tr><td>>=3 Pokemon w/ Priority</td><td>1</td></tr>
                    <tr class="bg-dark text-light"><th colspan="2">Resistances</th></tr>
                    <tr><td>>=2 Pokemon w/ Resistance to Attacking Type</td><td>1 point per type</td></tr>
                    <tr class="bg-dark text-light"><th colspan="2">Resistances-Weaknesses</th></tr>
                    <tr><td>(# of Pokemon w/ Resistance)-(# of Pokemon w/ Weakness) to Attacking Type>=0</td><td>1 point per type</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row bg-darkgrey rounded text-light mb-2 justify-content align-items-center">
    <div class="col-sm-4 mt-2">
        <div class="card table-responsive bg-lightgrey text-dark text-center overflow-auto mb-3">
            <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                <tr class="bg-dark text-light">
                    <th colspan="2">Important Moves</th>
                </tr>
                <tr>
                    <td>Stealth Rock</td>
                    <td id="StealthRock">None</td>
                </tr>
                <tr>
                    <td>Spikes</td>
                    <td id="Spikes">None</td>
                </tr>
                <tr>
                    <td>Toxic Spikes</td>
                    <td id="ToxicSpikes">None</td>
                </tr>
                <tr>
                    <td>Sticky Web</td>
                    <td id="StickyWeb">None</td>
                </tr>
                <tr>
                    <td>Hazard Control</td>
                    <td id="HazardControl">None</td>
                </tr>
                <tr>
                    <td>Heal Bell/Aromatherapy</td>
                    <td id="Cleric">None</td>
                </tr>
                <tr>
                    <td>Wish</td>
                    <td id="Wish">None</td>
                </tr>
                <tr>
                    <td>Priority</td>
                    <td id="Priority">None</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-sm-4 mt-2">
        <div class="card table-responsive bg-lightgrey text-dark text-center overflow-auto mb-3">
            <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                <tr class="bg-dark text-light">
                    <th colspan="3">Cores</th>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Grass.png"></td>
                    <td><img src="/static/pokemondatabase/sprites/types/Fire.png"></td>
                    <td><img src="/static/pokemondatabase/sprites/types/Water.png"></td>
                </tr>
                <tr>
                    <td id="Grass">X</td>
                    <td id="Fire">X</td>
                    <td id="Water">X</td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Dark.png"></td>
                    <td><img src="/static/pokemondatabase/sprites/types/Fighting.png"></td>
                    <td><img src="/static/pokemondatabase/sprites/types/Psychic.png"></td>
                </tr>
                <tr>
                    <td id="Dark">X</td>
                    <td id="Fighting">X</td>
                    <td id="Psychic">X</td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Dragon.png"></td>
                    <td><img src="/static/pokemondatabase/sprites/types/Fairy.png"></td>
                    <td><img src="/static/pokemondatabase/sprites/types/Steel.png"></td>
                </tr>
                <tr>
                    <td id="Dragon">X</td>
                    <td id="Fairy">X</td>
                    <td id="Steel">X</td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Electric.png"></td>
                    <td><img src="/static/pokemondatabase/sprites/types/Ground.png"></td>
                    <td><img src="/static/pokemondatabase/sprites/types/Poison.png"></td>
                </tr>
                <tr>
                    <td id="Electric">X</td>
                    <td id="Ground">X</td>
                    <td id="Poison">X</td>
                </tr>
                <tr>
                <tr>
                    <td colspan="3"><img src="/static/pokemondatabase/sprites/types/Ghost.png"></td>
                </tr>
                <tr>
                    <td id="Ghost" colspan="3">X</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-sm-4 mt-2">
        <div class="card table-responsive bg-lightgrey text-dark text-center overflow-auto mb-3">
            <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                <tr class="bg-dark text-light">
                    <th colspan="2">Speed Tiers</th>
                </tr>
                <tr>
                    <td>&#60;=30</td>
                    <td id="speed_g1">None</td>
                </tr>
                <tr>
                    <td>31-50</td>
                    <td id="speed_g2">None</td>
                </tr>
                <tr>
                    <td>51-70</td>
                    <td id="speed_g3">None</td>
                </tr>
                <tr>
                    <td>71-90</td>
                    <td id="speed_g4">None</td>
                </tr>
                <tr>
                    <td>91-110</td>
                    <td id="speed_g5">None</td>
                </tr>
                <tr>
                    <td>&#62;110</td>
                    <td id="speed_g6">None</td>
                </tr>
                <tr>
                    <td>Largest Speed Gap</td>
                    <td id="largestspeedgap">N/A</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card table-responsive bg-lightgrey text-dark text-center overflow-auto mb-3">
            <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                <tr class="bg-dark text-light">
                    <th colspan="3">Weaknesses</th>
                </tr>
                <tr>
                    <th>Type</th>
                    <th>x2</th>
                    <th>x4</th>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Bug.png"></td>
                    <td id="Bug-1"></td>
                    <td id="Bug-2"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Dark.png"></td>
                    <td id="Dark-1"></td>
                    <td id="Dark-2"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Dragon.png"></td>
                    <td id="Dragon-1"></td>
                    <td id="Dragon-2"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Electric.png"></td>
                    <td id="Electric-1"></td>
                    <td id="Electric-2"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Fairy.png"></td>
                    <td id="Fairy-1"></td>
                    <td id="Fairy-2"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Fighting.png"></td>
                    <td id="Fighting-1"></td>
                    <td id="Fighting-2"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Fire.png"></td>
                    <td id="Fire-1"></td>
                    <td id="Fire-2"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Flying.png"></td>
                    <td id="Flying-1"></td>
                    <td id="Flying-2"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Ghost.png"></td>
                    <td id="Ghost-1"></td>
                    <td id="Ghost-2"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Grass.png"></td>
                    <td id="Grass-1"></td>
                    <td id="Grass-2"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Ground.png"></td>
                    <td id="Ground-1"></td>
                    <td id="Ground-2"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Ice.png"></td>
                    <td id="Ice-1"></td>
                    <td id="Ice-2"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Normal.png"></td>
                    <td id="Normal-1"></td>
                    <td id="Normal-2"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Poison.png"></td>
                    <td id="Poison-1"></td>
                    <td id="Poison-2"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Psychic.png"></td>
                    <td id="Psychic-1"></td>
                    <td id="Psychic-2"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Rock.png"></td>
                    <td id="Rock-1"></td>
                    <td id="Rock-2"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Steel.png"></td>
                    <td id="Steel-1"></td>
                    <td id="Steel-2"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Water.png"></td>
                    <td id="Water-1"></td>
                    <td id="Water-2"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card table-responsive bg-lightgrey text-dark text-center overflow-auto mb-3">
            <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                <tr class="bg-dark text-light">
                    <th colspan="4">Resistances</th>
                </tr>
                <tr>
                    <th>Type</th>
                    <th>x0</th>
                    <th>x0.25</th>
                    <th>x0.5</th>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Bug.png"></td>
                    <td id="Bug3"></td>
                    <td id="Bug2"></td>
                    <td id="Bug1"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Dark.png"></td>
                    <td id="Dark3"></td>
                    <td id="Dark2"></td>
                    <td id="Dark1"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Dragon.png"></td>
                    <td id="Dragon3"></td>
                    <td id="Dragon2"></td>
                    <td id="Dragon1"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Electric.png"></td>
                    <td id="Electric3"></td>
                    <td id="Electric2"></td>
                    <td id="Electric1"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Fairy.png"></td>
                    <td id="Fairy3"></td>
                    <td id="Fairy2"></td>
                    <td id="Fairy1"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Fighting.png"></td>
                    <td id="Fighting3"></td>
                    <td id="Fighting2"></td>
                    <td id="Fighting1"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Fire.png"></td>
                    <td id="Fire3"></td>
                    <td id="Fire2"></td>
                    <td id="Fire1"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Flying.png"></td>
                    <td id="Flying3"></td>
                    <td id="Flying2"></td>
                    <td id="Flying1"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Ghost.png"></td>
                    <td id="Ghost3"></td>
                    <td id="Ghost2"></td>
                    <td id="Ghost1"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Grass.png"></td>
                    <td id="Grass3"></td>
                    <td id="Grass2"></td>
                    <td id="Grass1"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Ground.png"></td>
                    <td id="Ground3"></td>
                    <td id="Ground2"></td>
                    <td id="Ground1"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Ice.png"></td>
                    <td id="Ice3"></td>
                    <td id="Ice2"></td>
                    <td id="Ice1"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Normal.png"></td>
                    <td id="Normal3"></td>
                    <td id="Normal2"></td>
                    <td id="Normal1"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Poison.png"></td>
                    <td id="Poison3"></td>
                    <td id="Poison2"></td>
                    <td id="Poison1"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Psychic.png"></td>
                    <td id="Psychic3"></td>
                    <td id="Psychic2"></td>
                    <td id="Psychic1"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Rock.png"></td>
                    <td id="Rock3"></td>
                    <td id="Rock2"></td>
                    <td id="Rock1"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Steel.png"></td>
                    <td id="Steel3"></td>
                    <td id="Steel2"></td>
                    <td id="Steel1"></td>
                </tr>
                <tr>
                    <td><img src="/static/pokemondatabase/sprites/types/Water.png"></td>
                    <td id="Water3"></td>
                    <td id="Water2"></td>
                    <td id="Water1"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<script>
    var spriteurl = 'swsh/ani/standard/PKMN.gif'
    var pokemonlist = {{ pokemonlist|safe}}
    var typelist = {{ typelist|safe}}
    var abilitylist = {{ abilitylist|safe}}
    var movelist = {{ movelist|safe}}
    var pokemondatabase = {{ pokemondatabase|safe}}
</script>
<script src="{% static 'draftplanner/scripts/draftplanner.js' %}"></script>

{% endblock %}