{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load extratags %}

{% block title %}{{ teamofinterest.teamname }}: {{league.name}} {{season.seasonname}}{% endblock %}
{% block head%}
{% endblock %}
{% block body %}

<div class="row content-section align-items-center">
    <div class="col-md-4 d-flex justify-content-start"><img src="{{teamofinterest.logo.url}}" class="rounded-circle mediumlogo">
    </div>
    <div class="col-md-4">
        <h3 class="d-flex justify-content-center">{{ teamofinterest.teamname }}</h3>
        <div class="d-flex justify-content-center">Coached by&nbsp;<a class="text-light" href="{% url 'user_profile' username=teamofinterest.coach1.username %}">{{ teamofinterest.coach1username }} </a>
            {% if teamofinterest.coach2 %}
            &nbsp;and&nbsp;<a class="text-light" href="{% url 'user_profile' username=teamofinterest.coach2.username %}">{{teamofinterest.coach2username}}</a>
            {% endif %}
        </div>
    </div>
    <div class="col-md-4 d-flex justify-content-end">
        <div>
            <div>Record: {{teamofinterest.wins}}-{{teamofinterest.losses}}</div>
            <div>Differential: {{teamofinterest.differential}}</div>
        </div>
    </div>
</div>
<div class="row content-section align-items-center">
        <div class="col-md-3">
                <h4>Draft</h4>
                <div class="card table-responsive bg-lightgrey text-dark text-center overflow-auto mb-3">
                    <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                    <thead class="bg-dark text-light">
                        <tr class="text-center">
                            <th class="p-0 m-0">Pick #</th>
                            <th class="p-0 m-0">Pokemon</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in draft %}
                        <tr class="bg-lightgrey text-dark text-center">
                            <td class="p-0 m-0">{{ item.picknumber }}</td>
                            <td class="p-0 m-0">
                                {% if item.pokemon.pokemon %}
                                <div class="d-flex justify-content-center">
                                    <img class="smallsprite"
                                        src="{{item.pokemon.pokemon|sprite:site_settings.sprite}}">
                                    <p>{{ item.pokemon.pokemon }}</p>
                                </div>
                                {% else %}
                                <div>-</div>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
    <div class="col-md-9">
        <h4>Roster</h4>
        <div class="card table-responsive bg-lightgrey text-dark text-center overflow-auto mb-3">
            <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
            <thead class="bg-dark text-light">
                <tr class="text-center">
                    <th class="p-0 m-0">Pokemon</th>
                    <th class="p-0 m-0">K</th>
                    <th class="p-0 m-0">D</th>
                    <th class="p-0 m-0">+/-</th>
                    <th class="p-0 m-0">GP</th>
                    <th class="p-0 m-0">GW</th>
                </tr>
            </thead>
            <tbody>
                {% for item in roster %}
                <tr class="bg-lightgrey text-dark text-center">
                    <td class="p-0 m-0">
                        <div class="d-flex justify-content-center">
                            <img class="smallsprite"
                            src="{{item.pokemon.pokemon|sprite:site_settings.sprite}}">
                            <p>{{ item.pokemon.pokemon }}</p>
                        </div>
                    </td>
                    <td class="p-0 m-0">{{ item.kills }}</td>
                    <td class="p-0 m-0">{{ item.deaths }}</td>
                    <td class="p-0 m-0">{{ item.differential }}</td>
                    <td class="p-0 m-0">{{ item.gp }}</td>
                    <td class="p-0 m-0">{{ item.gw }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock %}