{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load extratags %}

{% block title %}{{league_name}} {{season.seasonname}}: Hall of Fame{% endblock %}
{% block head%}
{% endblock %}
{% block body %}
<div class="row bg-darkgrey rounded text-center mb-2 text-light">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3>{{league_name}} {{season.seasonname}} Hall of Fame</h3>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row bg-darkgrey rounded text-center">
    <div class="col-12">
        <div class="row bg-lightgrey rounded mt-3 mx-1">
            <div class="col-12">
                <h3>Champion</h3>
            </div>
            <div class="col-md-4  d-flex align-items-center">
                <div class="row ">
                    {% for item in champion.historical_roster.all|halve|first %}
                    <div class="col-sm-4 d-flex align-items-center justify-content-center">
                        <div class="mediumlogo d-flex justify-content-center"><img class="img-fluid"
                            src="{{item.pokemon.pokemon|sprite:site_settings.sprite}}">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="d-flex justify-content-center">
                    <div class="largelogo"><img class="img-fluid" src="{{champion.logourl}}"></div>
                </div>
                <div class="">
                    <h4>{{champion.teamname}}</h4>
                </div>
                <div class="">
                    <h6> Coached by {{champion.coach1username}} {% if champion.coach2username %}and
                        {{champion.coach2username}}{% endif %}</h6>
                </div>
            </div>
            <div class="col-md-4  d-flex align-items-center">
                <div class="row ">
                    {% for item in champion.historical_roster.all|halve|last %}
                    <div class="col-sm-4 d-flex align-items-center justify-content-center">
                        <div class="mediumlogo d-flex justify-content-center"><img class="img-fluid"
                            src="{{item.pokemon.pokemon|sprite:site_settings.sprite}}">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
            <div class="row bg-lightgrey rounded my-3 mx-1">
                <div class="col-12">
                    <h3>Runner-Up</h3>
                </div>
                <div class="col-md-4  d-flex align-items-center">
                    <div class="row ">
                        {% for item in runnerup.historical_roster.all|halve|first %}
                        <div class="col-sm-4 d-flex align-items-center justify-content-center">
                            <div class="mediumlogo d-flex justify-content-center"><img class="img-fluid"
                                src="{{item.pokemon.pokemon|sprite:site_settings.sprite}}">
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="d-flex justify-content-center">
                        <div class="largelogo"><img class="img-fluid" src="{{runnerup.logourl}}"></div>
                    </div>
                    <div class="">
                        <h4>{{runnerup.teamname}}</h4>
                    </div>
                    <div class="">
                        <h6> Coached by {{runnerup.coach1username}} {% if runnerup.coach2username %}and
                            {{crunnerup.coach2username}}{% endif %}</h6>
                    </div>
                </div>
                <div class="col-md-4  d-flex align-items-center">
                    <div class="row ">
                        {% for item in runnerup.historical_roster.all|halve|last %}
                        <div class="col-sm-4 d-flex align-items-center justify-content-center">
                            <div class="mediumlogo d-flex justify-content-center"><img class="img-fluid"
                                src="{{item.pokemon.pokemon|sprite:site_settings.sprite}}">
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}