{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load extratags %}

{% block title %}{{league_name}} {{season.seasonname}}: Transactions{% endblock %}
{% block head%}
{% endblock %}
{% block body %}
<div class="row bg-darkgrey rounded text-center mb-2 text-light">
    <div class="col-md-2"></div>
    <div class="col-md-8"> <h3>{{league_name}} {{season.seasonname}} Transactions</h3></div>
    <div class="col-md-2"></div>
</div>
<div class="row bg-darkgrey rounded text-center pt-3 d-flex justify-content-center">
        {% if free_agencies %}
        <div class="col-md-6">
            <div class="card table-responsive bg-lightgrey text-dark text-center overflow-auto mb-3">
                <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                <tr class="bg-dark text-light">
                    <th colspan="3">Free Agency</th>
                </tr>
                <tr class="bg-dark text-light">
                    <th>Team</th>
                    <th>Dropped Pokemon</th>
                    <th>Added Pokemon</th>
                </tr>
                {% for transaction in free_agencies %}
                <tr class="table-condensed">
                    <td>
                        <div class="d-flex">
                            <div class="smallsprite"><img class="img-fluid" src="{{transaction.team.logo.url}}"></div>
                            {{  transaction.team.teamname }}
                        </div>
                    </td>
                    <td>
                        <div class="d-flex">
                            <div class="smallsprite"><img class="img-fluid pl-1 pr-2" src="{{transaction.droppedpokemon.pokemon|sprite:site_settings.sprite}}"></div>
                            {{  transaction.droppedpokemon.pokemon }}
                        </div>
                    </td>
                    <td>
                        <div class="d-flex">
                            <div class="smallsprite"><img class="img-fluid pl-1 pr-2" src="{{transaction.addedpokemon.pokemon|sprite:site_settings.sprite}}"></div>
                            {{  transaction.addedpokemon.pokemon }}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
            </div>
        </div>
        {% endif %}
        {% if trades %}
        <div class="col-md-6">
            <div class="card table-responsive bg-lightgrey text-dark text-center overflow-auto mb-3">
                <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                    <tr class="bg-dark text-light">
                        <th colspan="4">Trading</th>
                    </tr>
                    <tr class="bg-dark text-light">
                        <th>Team 1</th>
                        <th>Acquisition</th>
                        <th>Team 2</th>
                        <th>Acquisition</th>
                    </tr>
                {% for transaction,partner in trades %}
                <tr class="table-condensed">
                    <td>
                        <div class="d-flex">
                            <div class="smallsprite"><img class="img-fluid" src="{{transaction.team.logo.url}}"></div>
                            {{  transaction.team.teamname }}
                        </div>
                    </td>
                    <td>
                        <div class="d-flex">
                            <div class="smallsprite"><img class="img-fluid pl-1 pr-2" src="{{transaction.droppedpokemon.pokemon|sprite:site_settings.sprite}}"></div>
                            {{  transaction.droppedpokemon.pokemon }}
                        </div>
                    </td>
                    <td>
                        <div class="d-flex">
                            <div class="smallsprite"><img class="img-fluid" src="{{partner.logo.url}}"></div>
                                {{  partner.teamname }}
                            </div>
                    </td>
                    <td>
                        <div class="d-flex">
                            <div class="smallsprite"><img class="img-fluid pl-1 pr-2" src="{{transaction.addedpokemon.pokemon|sprite:site_settings.sprite}}"></div>
                            {{  transaction.addedpokemon.pokemon }}
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </table>
                </div>
            </div>
        {% endif %}
</div>
{% endblock %}
{% block footer %}
{% endblock %}