{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Settings{% endblock %}
{% block head%}
{% endblock %}
{% block body %}
<div class="row">
        <div class="col-md-4">
                <div class="content-section">
                  <h3>Settings</h3>
                    <ul class="list-group">
                        <a href="{% url 'settings' %}"><li class="list-group-item list-group-item-light">User</li></a>
                        {% if leagueshosted %}
                            <a href="{% url 'leagues_hosted_settings' %}"><li class="list-group-item list-group-item-light">Leagues Hosting</li></a>
                        {% endif %}    
                    </ul>
                </div>
            </div>
        <div class="col-md-8">
            <div class="content-section">
                <h2>{{ settingheading }}</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for form in forms %}
                        {{ form|crispy  }}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
                {% if deletebutton %}
                    <a href="deleteleague"><button class="btn btn-danger">{{deletebutton}}</button></a>
                {% endif %}
            </div>
        </div>
</div>
{% endblock %}