{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load extratags %}

{% block title %}{{userofinterest}}{% endblock %}
{% block head%}
<link rel="stylesheet" type="text/css" href="{% static 'leagues/styles/leaguelist.css' %}">
{% endblock %}
{% block body %}
<div class="bg-darkgrey rounded text-light">
    <div class="row align-items-start">
        <div class="col-md-4">
            <div class="m-3 bg-lightgrey text-dark rounded text-center">
                <img src="{{ userofinterest.profile.logourl }}" class="rounded-circle mediumlogo m-2">
                <h3>{{ userofinterest.username }}</h3>
                <div class="card table-responsive bg-lightgrey text-dark text-center overflow-auto mb-3">
                    <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                        <tr class="bg-dark text-light">
                            <th colspan="2">Career Stats</th>
                        </tr>
                        <tr>
                            <td colspan="2">Seasons Played: {{ userofinterest.profile.seasonsplayed }}</td>
                        </tr>
                        <tr>
                            <td>Wins: {{ userofinterest.profile.wins }}</td>
                            <td>Losses: {{ userofinterest.profile.losses }}</td>
                        </tr>
                        <tr>
                            <td>+/-: {{ userofinterest.profile.differential }}</td>
                            <td>Win%: {{ userofinterest.profile.wins|winpercentage:userofinterest.profile.losses }}</td>
                        </tr>
                        <tr class="bg-dark text-light">
                            <th colspan="2">Playoff Stats</th>
                        </tr>
                        <tr>
                            <td>Wins: {{ userofinterest.profile.playoffwins }}</td>
                            <td>Losses: {{ userofinterest.profile.playofflosses }}</td>
                        </tr>
                        <tr>
                            <td>+/-: {{ userofinterest.profile.playoffdifferential }}</td>
                            <td>Win%: {{ userofinterest.profile.playoffwins|winpercentage:userofinterest.profile.playofflosses }}</td>
                        </tr>
                        <tr class="bg-dark text-light">
                            <th colspan="2">Coach Biography</th>
                        </tr>
                        <tr>
                            <td colspan="2">{{ userofinterest.profile.coachdata }}</td>
                        </tr>
                        <tr class="bg-dark text-light">
                            <th colspan="2">Timezone</th>
                        </tr>
                        <tr>
                            <td colspan="2">{{ userofinterest.profile.timezone }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            {% if userofinterest.coaching.all or userofinterest.teammate.all or userofinterest.alternate.all %}
            <div class="m-3 bg-lightgrey text-dark rounded text-center">
                <div class="card table-responsive bg-lightgrey text-dark text-center mb-3">
                    <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                        <tr class="bg-dark text-light">
                            <th colspan="2">Current Teams Coaching</th>
                        </tr>
                        {% for item in userofinterest.coaching.all %}
                        <tr>
                            <td>
                                <a href="{% url 'league_detail' league_name=item.league_name.name %}" class="text-dark">
                                    <div>
                                        <img class="smallsprite"
                                            src="{{ item.logourl }}">{{ item.teamname }}-{{ item.league_name.name }}
                                    </div>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% for item in userofinterest.teammate.all %}
                        <tr>
                            <td>
                                <a href="{% url 'league_detail' league_name=item.league_name.name %}" class="text-dark">
                                    <div>
                                        <img class="smallsprite"
                                            src="{{ item.logourl }}">{{ item.teamname }}-{{ item.league_name.name }}
                                    </div>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endif %}
            {% if userofinterest.awards.all %}
            <div class="m-3 bg-lightgrey text-dark rounded text-center">
                <div class="card table-responsive bg-lightgrey text-dark text-center mb-3">
                    <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                        <tr class="bg-dark text-light">
                            <th colspan="2">Trophy Case</th>
                        </tr>
                        <tr>
                            <td class="row align-items-center justify-content-center mx-2">
                                {% for item in userofinterest.awards.all %}
                                <div class="col-3">
                                    <img src="{{ item.award.image.url }}" class="mediumsprite"
                                        title="{{ item.award.awardname }}: {{ item.text }}" alt="{{ item.text }}" />
                                </div>
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            {% endif %}
            {% if userofinterest.historical_team_coach1.all or userofinterest.historical_team_coach2.all %}
            <div class="m-3 bg-lightgrey text-dark rounded text-center">
                <div class="card table-responsive bg-lightgrey text-dark text-center mb-3">
                    <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                        <tr class="bg-dark text-light">
                            <th colspan="2">Previous Season Teams</th>
                        </tr>
                        {% for item in userofinterest.historical_team_coach1.all %}
                        <tr>
                            <td>
                                <a href="{% url 'seasonteamdetail' league_name=item.league.name seasonofinterest=item.seasonname|replace:' ,_' teamofinterest=item.teamname|replace:' ,_' %}"
                                    class="text-dark">
                                    <div>
                                        <img class="smallsprite"
                                            src="{{ item.logourl }}">{{ item.teamname }}-{{ item.league.name }}-{{ item.seasonname }}
                                    </div>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% for item in userofinterest.historical_team_coach2.all %}
                        <tr>
                            <td>
                                <a href="{% url 'seasonteamdetail' league_name=item.league.name seasonofinterest=item.seasonname|replace:' ,_' teamofinterest=item.teamname|replace:' ,_' %}"
                                    class="text-dark">
                                    <div>
                                        <img class="smallsprite"
                                            src="{{ item.logourl }}">{{ item.teamname }}-{{ item.league.name }}-{{ item.seasonname }}
                                    </div>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="m-3">
            <div class="card table-responsive bg-lightgrey text-dark text-center text-nowrap overflow-auto">
                <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                    <tr class="bg-dark text-light">
                        <th>
                            <h3>Advanced Data</h3>
                        </th>
                    </tr>
                    <tr class="bg-dark text-light">
                        <th>
                            <select id="tableselector">
                                <option value="mostacquired">Most Acquired Pokemon</option>
                                <option value="rivals">Biggest Rivals</option>
                                <option value="allmatches">All Matches</option>
                                <option value="favmoves">Favorite Moves</option>
                            </select>
                        </th>
                    </tr>
                </table>
            </div>
            <div id="mostacquired" class="profiletable card table-responsive bg-lightgrey text-dark text-center text-nowrap overflow-auto">
                <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                    <tr class="bg-dark text-light">
                        <th colspan="2">
                            <h4>Most Acquired Pokemon</h4>
                        </th>
                    </tr>
                    <tr class="bg-dark text-light">
                        <th>Pokemon</th>
                        <th>Times Acquired</th>
                    </tr>
                </table>
            </div>
            <div id="rivals" class="profiletable card table-responsive bg-lightgrey text-dark text-center text-nowrap overflow-auto d-none">
                <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                    <tr class="bg-dark text-light">
                        <th colspan="3">
                            <h4>Biggest Rivals</h4>
                        </th>
                    </tr>
                    <tr class="bg-dark text-light">
                        <th>Coach</th>
                        <th>Times Played</th>
                        <th>Wins</th>
                    </tr>
                </table>
            </div>
            <div id="allmatches" class="profiletable card table-responsive bg-lightgrey text-dark text-center overflow-auto d-none">
                <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                    <tr class="bg-dark text-light">
                        <th colspan="6">
                            <h4>All Matches</h4>
                            <select id="matchfilter">
                                <option value="All">All Matches</option>
                                <option value="Wins">Wins</option>
                                <option value="Losses">Losses</option>
                                <option value="ffwins">Forfeit Wins</option>
                                <option value="fflosses">Forfeit Losses</option>
                                <option value="Playoffs">Playoffs</option>
                                <option value="Favorites">Favorites</option>
                            </select>
                        </th>
                    </tr>
                    <tr class="bg-dark text-light">
                        {% if userofinterest == request.user %}
                        <th></th>
                        {% endif %}
                        <th>League</th>
                        <th>Season</th>
                        <th>Week</th>
                        <th>Opponent</th>
                        <th>Replay</th>
                    </tr>
                </table>
            </div>
            <div id="favmoves" class="profiletable card table-responsive bg-lightgrey text-dark text-center text-nowrap overflow-auto d-none">
                <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                    <tr class="bg-dark text-light">
                        <th colspan="5">
                            <h4>Favorite Moves</h4>
                        </th>
                    </tr>
                    <tr class="bg-dark text-light">
                        <th>Move</th>
                        <th>Times Used</th>
                        <th>Times Hit</th>
                        <th>Times Crit</th>
                        <th>Secondary Effect Rate</th>
                    </tr>
                </table>
            </div>
        </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block footer %}
<script>
    var mostacquired={{mostacquired|safe}}
    var matchlist={{matchlist|safe}}
    var rivallist={{rivallist|safe}}
    var favoritemovelist={{favoritemovelist|safe}}
</script>
{% if userofinterest == request.user %}
<script>var isuser=true</script>    
{% else %}
<script>var isuser=false</script>    
{% endif %}
<script src="{% static 'accounts/scripts/profile.js' %}"></script>
{% endblock %}