{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load extratags %}

{% block title %}{{userofinterest}}{% endblock %}
{% block head%}
<link rel="stylesheet" type="text/css" href="{% static 'leagues/styles/leaguelist.css' %}">
{% endblock %}
{% block body %}
<div class="bg-darkgrey rounded text-light">
    <div class="row align-items-start">
        <div class="col-md-4">
            <div class="m-3 bg-lightgrey text-dark rounded text-center">
                <img src="{{ userofinterest.profile.pfp.url }}" class="rounded-circle mediumlogo m-2">
                <h3>{{ userofinterest.username }}</h3>
                <h5>Career Stats</h5>
                <table class="table table-sm text-center">
                    <tr>
                        <td colspan="2">Seasons Played: {{ userofinterest.profile.seasonsplayed }}</td>
                    </tr>
                    <tr>
                        <td>Wins: {{ userofinterest.profile.wins }}</td>
                        <td>Losses: {{ userofinterest.profile.losses }}</td>
                    </tr>
                    <tr>
                        <td>+/-: {{ userofinterest.profile.differential }}</td>
                        <td>Win%: {{winpercent}}</td>
                    </tr>
                </table>
            </div>
            {% if userofinterest.coaching.all or userofinterest.teammate.all or userofinterest.alternate.all %}
            <div class="m-3 bg-lightgrey text-dark rounded text-center">
                <h5 class="col-md-12">Current Teams Coaching</h5>
                <div class="col-md-12">
                    {% for item in userofinterest.coaching.all %}
                    <a href="{% url 'league_detail' league_name=item.league_name.name %}" class="text-dark">
                        <div>
                            <img class="smallsprite"
                                src="{{ item.logo.url }}">{{ item.teamname }}-{{ item.league_name.name }}
                        </div>
                    </a>
                    {% endfor %}
                    {% for item in userofinterest.teammate.all %}
                    <a href="{% url 'league_detail' league_name=item.league_name.name %}" class="text-dark">
                        <div>
                            <img class="smallsprite"
                                src="{{ item.logo.url }}">{{ item.teamname }}-{{ item.league_name.name }}
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if userofinterest.awards.all %}
            <div class="m-3 bg-lightgrey text-dark rounded text-center">
                <h5>Trophy Case</h5>
                <div class="row align-items-center justify-content-center mx-2">
                    {% for item in userofinterest.awards.all %}
                    <div class="col-3">
                        <img src="{{ item.award.image.url }}" class="mediumsprite"
                            title="{{ item.award.awardname }}: {{ item.text }}" alt="{{ item.text }}" />
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if userofinterest.historical_team_coach1.all or userofinterest.historical_team_coach2.all %}
            <div class="m-3 bg-lightgrey text-dark rounded text-center">
                <h5 class="col-md-12">Previous Season Teams</h5>
                <div class="col-md-12">
                    {% for item in userofinterest.historical_team_coach1.all %}
                    <a href="{% url 'seasonteamdetail' league_name=item.league.name seasonofinterest=item.seasonname|replace:' ,_' teamofinterest=item.teamname|replace:' ,_' %}"
                        class="text-dark">
                        <div>
                            <img class="smallsprite"
                                src="{{ item.logo.url }}">{{ item.teamname }}-{{ item.league.name }}-{{ item.seasonname }}
                        </div>
                    </a>
                    {% endfor %}
                    {% for item in userofinterest.historical_team_coach2.all %}
                    <a href="{% url 'seasonteamdetail' league_name=item.league.name seasonofinterest=item.seasonname|replace:' ,_' teamofinterest=item.teamname|replace:' ,_' %}"
                        class="text-dark">
                        <div>
                            <img class="smallsprite"
                                src="{{ item.logo.url }}">{{ item.teamname }}-{{ item.league.name }}-{{ item.seasonname }}
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="m-3 bg-dark text-light rounded text-center">
                <h3>Advanced Data</h3>
                <select>
                    <option>Most Acquired Pokemon</option>
                </select>
            </div>
            <div class="m-3 bg-lightgrey text-dark rounded text-center">
                <div>
                    <h4 class="bg-dark text-light">Most Acquired Pokemon</h4>
                    <div class="card table-responsive bg-lightgrey text-dark text-center text-nowrap overflow-auto">
                        <table class="table table-sm table-bordered table-striped p-0 m-0">
                            <tr class="bg-dark text-light">
                                <th>Pokemon</th>
                                <th>Times Acquired</th>
                            </tr>
                            {% for mon,value in mostacquired.items %}
                            <tr>
                                <td><img class="smallsprite" src="{% static 'pokemondatabase/sprites/'|add:site_settings.sprite|pkmnreplace:mon|cut:':' %}">
                                    {{mon}}</td>
                                <td>{{value}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}