.profile{
    display: flex;
    width:fit-content;
    background-color: rgb(240, 240, 240);
    margin:8px auto;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
}

.profile img{
    max-height: 100px;
    max-width: 100px;
    padding: 10px;
}