{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Error Encountered{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'leagues/styles/leaguelist.css' %}">
{% endblock %}
{% block body %}
<div class="row content-section align-items-center">
    <div class="col-md-12 text-center ">
        <h4>Whatever you were trying to do didn't work. It most likely isn't your fault and is probably because the site developers are incompetent.</h4>
        <h4>Kindly submit a request <a class="text-light" href="https://pokemondraftleague.online/help/"><u>here</u></a> to get it fixed. Be as specific as possible as to what you were doing.</h4>
        <h4>Include the following error information:</h4>
        <p>{{exception}}</p>
    </div>
</div>
{% endblock %}