{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}About{% endblock %}
{% block head%}
{% endblock %}
{% block body %}
<div class="contentarea">
    <h2>About</h2>
</div>
<div class="contentarea">
    <h2>About</h2>
</div>
<div class="contentarea">
    <h2>Support Me</h2>
</div>
<div class="contentarea">
    <h2>Licensing</h2>
    <p>This website is developed by claduva. Pokémon is owned by Nintendo and GameFreak. The used sprites are intended for educational and entertainment purposes, the art of battling. The Pokémon sprites which are used are from a Pokémon game, or substantially derived from one and are being used according to fair use. The source code for this website can be found at https://github.com/claduva/pokemondraftleague at may be reused with appropriate crediting.</p>
</div>
{% endblock %}