{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'leagues/styles/leaguelist.css' %}">
{% endblock %}

{% block body %}
<div class="row content-section align-items-center">
    {% if user.is_authenticated %}
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <a href="{% url 'league_list' %}"><button class="btn btn-info">View Leagues</button></a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="d-flex justify-content-center ">
            <img src="{% static 'main/images/pdllogo.png' %}" alt="" height=75px>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <a href="{% url 'recruiting_league_list' %}"><button class="btn btn-info">Join A League</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <a href="{% url 'create_league' %}"><button class="btn btn-info">Create A League</button></a>
            </div>
        </div>
        {% else %}
        <div class="col-md-6">
            <div class="d-flex justify-content-center ">
                <img src="{% static 'main/images/pokeball.png' %}" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <form action="{% url 'signup' %}" method="post">
                <h2>Sign Up For Free</h2>
                {% csrf_token %}
                {{ form|crispy  }}
                <button type="submit">Sign up</button>
                <div>Already have an account? <a href="{% url 'login' %}">Sign In</a></div>
            </form>
            {% endif %}
        </div>
    </div>
    <div class="row content-section align-items-center">
        <div class="col-12 d-flex justify-content-center">
            <h4>Hello {{request.user}}! Welcome to your coach landing page!</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 content-section">
            <h3>Your Leagues</h3>
            <div class="row justify-content-around">
                {% for item in yourleagues %}
                <div class="col-md-2 m-0 p-0">
                    <div class="card h-100 bg-lightgrey">
                        <a href="leagues/{{ item.league_name.name }}">
                            <div class="d-flex justify-content-center">
                                <img src="{{ item.league_name.logo.url }}" class="img-fluid mediumlogo m-1">
                            </div>
                            <div class="d-flex justify-content-center">
                                <h6 class="text-center">{{ item.league_name.name }}</h6>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 content-section">
            <h3>Your Teams</h3>
            <div class="row justify-content-around">
                {% for item in yourleagues %}
                <div class="col-md-2 m-0 p-0">
                    <div class="card h-100 bg-lightgrey">
                        <a href="leagues/{{ item.league_name.name }}/teams/{{ item.teamabbreviation }}">
                            <div class="d-flex justify-content-center">
                                <img src="{{ item.logo.url }}" class="img-fluid mediumlogo m-1">
                            </div>
                            <div class="d-flex justify-content-center">
                                <h6 class="text-center">{{ item.teamname }}</h6>
                            </div>
                            <div class="d-flex justify-content-center">
                                <h6 class="text-center">in</h6>
                            </div>
                            <div class="d-flex justify-content-center">
                                <h6 class="text-center">{{ item.league_name.name }}</h6>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row bg-darkgrey rounded p-3 mb-2">
        <div class="col-md-12 m-0 p-0 text-light">
            <h4>Upcoming Matches</h4>
        </div>
    </div>
    <div class="row bg-darkgrey rounded p-3">
        <div class="col-md-12 m-0 p-0 text-light">
            <h4>Recent Results</h4>
        </div>
        {% for item in recentresults %}
        <div class="col-md-3 text-dark text-center justify-content-center">
            <div class="bg-lightgrey rounded">
                <h5 class="p-0 m-0 mt-1">{{ item.season.league.name }}</h5>
                <h5 class="p-0 m-0">Week {{ item.week }}</h5>
                {% if item.team1.coach == request.user %}
                <div><img class="mediumlogo rounded-circle" src="{{ item.team2.logo.url }}"></div>
                <div>{{item.team2.teamname}}</div>
                {% elif item.team2.coach == request.user %}
                <div><img class="mediumlogo rounded-circle" src="{{ item.team1.logo.url }}"></div>
                <div>{{item.team1.teamname}}</div>
                {% endif %}
                {% if item.winner.coach == request.user or item.winner.teammate == request.user  %}
                <div>WIN {{item.team1score}}-{{item.team2score}}</div>
                {% else %}
                <div>LOSE {{item.team1score}}-{{item.team2score}}</div>
                {% endif %}
                <a href="{{item.replay}}"><button class="btn btn-dark mb-1">Replay</button></a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
 