{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load extratags %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'leagues/styles/leaguelist.css' %}">
{% endblock %}

{% block marquee %}
{% endblock %}
{% block body %}
<div class="row bg-darkgrey text-light rounded p-2 mb-2 align-items-center">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <a href="{% url 'league_list' %}"><button class="btn btn-info">View Leagues</button></a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="d-flex justify-content-center ">
            <img src="{% static 'main/images/pdllogo.png' %}" alt="" height=75px>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <a href="{% url 'create_league' %}"><button class="btn btn-info">Create A League</button></a>
            </div>
        </div>

    </div>
</div>
<div class="row bg-darkgrey text-light rounded p-3 mb-2">
    <div class="col-md-12 p-0 m-0">
        <div class="card table-responsive bg-lightgrey text-dark text-center overflow-auto">
            <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                <tr class="bg-dark text-light">
                    <th class="align-middle" colspan="100%"><h3 class="p-0 m-0">Your Teams</h3></th>
                </tr>
                <tr class="bg-dark text-light">
                    <th>Team</th>
                    <th>League Homepage</th>
                    <th>Links</th>
                </tr>
                {% for item in yourleagues %}
                <tr>
                    <td>
                        <a class="text-dark"
                            href="{% url 'team_page' league_name=item.league_name.name subleague_name=item.subleague.subleague team_abbreviation=item.teamabbreviation %}">
                            <div class="d-flex justify-content-center">
                                <img src="{{ item.logo.url }}" class="img-fluid small-logo m-1">
                            </div>
                            <div class="d-flex justify-content-center">
                                <h6 class="text-center">{{ item.teamname }}</h6>
                            </div>
                        </a>
                    </td>
                    <td>
                        <a class="text-dark" href="{% url 'league_detail' league_name=item.league_name.name|replace:' ,_' %}">
                            <div class="d-flex justify-content-center">
                                <img src="{{ item.league_name.logo.url }}" class="img-fluid small-logo m-1">
                            </div>
                            <div class="d-flex justify-content-center">
                                <h6 class="text-center">{{ item.league_name.name }}</h6>
                            </div>
                        </a>
                    </td>
                    <td class="align-middle">
                        <a class="text-dark"
                            href="{% url 'league_schedule' league_name=item.league_name.name subleague_name=item.subleague.subleague %}">
                            <h6 class="text-center">Schedule</h6>
                        </a>
                        <a class="text-dark"
                            href="{% url 'league_tiers' league_name=item.league_name.name subleague_name=item.subleague.subleague %}">
                            <h6 class="text-center">Tiers</h6>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% if upcomingmatches %}
<div class="row bg-darkgrey text-light rounded p-3 mb-2">
    <div class="col-md-12 p-0 m-0">
        <div class="card table-responsive bg-lightgrey text-dark text-center overflow-auto">
            <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                <tr class="bg-dark text-light">
                    <th class="align-middle" colspan="100%"><h3 class="p-0 m-0">Upcoming Matches</h3></th>
                </tr>
                <tr class="bg-dark text-light">
                    <th>League</th>
                    <th>Week</th>
                    <th>Opponent</th>
                    <th>Due Date (UTC)</th>
                    <th>Links</th>
                </tr>
                {% for item in upcomingmatches %}
                <tr>
                    <td class="align-middle">
                        <a class="text-dark"
                            href="{% url 'league_detail' league_name=item.season.subleague.league.name %}">
                            <div class="d-flex justify-content-center">
                                <img src="{{ item.season.subleague.league.logo.url }}" class="img-fluid small-logo m-1">
                            </div>
                            <div class="d-flex justify-content-center">
                                <h6 class="text-center">{{ item.season.subleague.league.name }}</h6>
                            </div>
                        </a>
                    </td>
                    <td class="align-middle">{{item.week}}</td>
                    <td class="align-middle">
                        {% if item.team1.coach == request.user %}
                        <a class="text-dark" href="{% url 'team_page' league_name=item.season.subleague.league.name subleague_name=item.season.subleague.subleague team_abbreviation=item.team2.teamabbreviation %}">
                        <div><img class="small-logo rounded-circle" src="{{ item.team2.logo.url }}"></div>
                        <div>{{item.team2.teamname}}</div>
                        </a>
                        {% elif item.team2.coach == request.user %}
                        <a class="text-dark" href="{% url 'team_page' league_name=item.season.subleague.league.name subleague_name=item.season.subleague.subleague team_abbreviation=item.team1.teamabbreviation %}">
                        <div><img class="small-logo rounded-circle" src="{{ item.team1.logo.url }}"></div>
                        <div>{{item.team1.teamname}}</div>
                        </a>
                        {% endif %}
                    </td>
                    <td class="align-middle">{{item.duedate}}</td>
                    <td class="align-middle">
                        <a class="text-dark"
                            href="{% url 'league_matchup' league_name=item.season.subleague.league.name subleague_name=item.season.subleague.subleague matchid=item.id %}">
                            <h6 class="text-center">View Matchup</h6>
                        </a>
                        <a class="text-dark"
                            href="{% url 'upload_league_replay' league_name=item.season.subleague.league.name subleague_name=item.season.subleague.subleague matchid=item.id %}">
                            <h6 class="text-center">Upload Replay</h6>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endif %}
{% if recentresults %}
<div class="row bg-darkgrey text-light rounded p-3 mb-2">
    <div class="col-md-12 p-0 m-0">
        <div class="card table-responsive bg-lightgrey text-dark text-center overflow-auto">
            <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                <tr class="bg-dark text-light">
                    <th class="align-middle" colspan="100%"><h3 class="p-0 m-0">Recent Results</h3></th>
                </tr>
                <tr class="bg-dark text-light">
                    <th>League</th>
                    <th>Week</th>
                    <th>Opponent</th>
                    <th>Result</th>
                </tr>
                {% for item in recentresults %}
                <tr>
                    <td>
                        <a class="text-dark"
                            href="{% url 'league_detail' league_name=item.season.subleague.league.name %}">
                            <div class="d-flex justify-content-center">
                                <img src="{{ item.season.subleague.league.logo.url }}" class="img-fluid small-logo m-1">
                            </div>
                            <div class="d-flex justify-content-center">
                                <h6 class="text-center">{{ item.season.subleague.league.name }}</h6>
                            </div>
                        </a>
                    </td>
                    <td class="align-middle">{{item.week}}</td>
                    <td>
                        {% if item.team1.coach == request.user %}
                        <a class="text-dark" href="{% url 'team_page' league_name=item.season.subleague.league.name subleague_name=item.season.subleague.subleague team_abbreviation=item.team2.teamabbreviation %}">
                        <div><img class="small-logo rounded-circle" src="{{ item.team2.logo.url }}"></div>
                        <div>{{item.team2.teamname}}</div>
                        </a>
                        {% elif item.team2.coach == request.user %}
                        <a class="text-dark" href="{% url 'team_page' league_name=item.season.subleague.league.name subleague_name=item.season.subleague.subleague team_abbreviation=item.team1.teamabbreviation %}">
                        <div><img class="small-logo rounded-circle" src="{{ item.team1.logo.url }}"></div>
                        <div>{{item.team1.teamname}}</div>
                        </a>
                        {% endif %}
                    </td>
                    <td class="align-middle">
                        <a class="text-dark" href="{% url 'league_match_results' league_name=item.season.subleague.league.name subleague_name=item.season.subleague.subleague matchid=item.id %}">
                            {% if item.winner.coach == request.user or item.winner.teammate == request.user  %}
                        <div>WIN ({{item.team1score}}-{{item.team2score}})</div>
                        {% else %}
                        <div>LOSE ({{item.team1score}}-{{item.team2score}})</div>
                        {% endif %}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
{% block footer %}
<script>
    
</script>
{% endblock %}