{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Inbox{% endblock %}
{% block head%}
<link rel="stylesheet" type="text/css" href="{% static 'leagues/styles/leaguelist.css' %}">
{% endblock %}
{% block body %}
<div class="content-section">
    <div class="row align-items-start">
        <div class="col-md-12 rounded">
            <h2>Inbox</h2>
        </div>
    </div>
</div>
<div class="content-section">
    <div class="row align-items-start">
        <div class="col-md-3 rounded">
            <div class="row bg-dark text-light border">
                <h4 class="col-12 p-1 m-0">Messages</h4>
                {% if numberofmessages > 0 %}
                {% for item in messagelist %}
                <div class="col-12 bg-lightgrey text-dark m-0 p-0 border">
                    <a href="{% url 'inbox_item' messageid=item.id %}">
                        <div class="d-flex align-items-center m-0 p-0">
                            <div class="smallsprite mx-2"><img class="img-fluid"
                                    src="{{ item.sender.profile.pfp.url }}"></div>
                            <div>
                                <div><strong>{{ item.messagesubject }}</strong></div>
                                <div>{{ item.messagebody|truncatechars:25 }}</div>
                                <div><small>From: {{ item.sender }}</small></div>
                                <div><small>Sent: {{ item.senttime }}</small></div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
                {% else %}
                <div class="col-12 bg-lightgrey text-dark">No Messages</div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-12">
                    {% if startinbox %}
                    <div class="bg-lightgrey text-dark">
                        <div class="d-flex justify-content-center"><img src="{% static 'accounts/images/mail.png' %}">
                        </div>
                        <h3 class="d-flex justify-content-center">No Message Selected</h3>
                    </div>
                    {% else %}
                    <div class="bg-dark text-light border">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="mediumsprite m-2">
                                    <img class="img-fluid" src="{{ messageofinterest.sender.profile.pfp.url }}">
                                </div>
                                <div>
                                    <h3 class="d-flex justify-content-center pb-1 m-0">
                                        {{ messageofinterest.messagesubject }}</h3>
                                    <div class="pb-1 m-0">From: {{ messageofinterest.sender }}</div>
                                    <div class="pb-1 m-0"><small>Sent: {{ messageofinterest.senttime }}</small></div>
                                </div>
                            </div>
                            <div><a href="{% url 'delete_inbox_item' messageid=messageofinterest.id %}"><button class="btn btn-danger">Delete</button></a></div>
                        </div>
                        <div class="bg-lightgrey text-dark">
                            <div>{{ messageofinterest.messagebody }}</div>
                            {% if messageofinterest.traderequest %}
                            <div>
                                <a href="{% url 'accept_trade' messageid=messageofinterest.id %}"><button class="btn btn-success">Accept</button></a>
                                <a href="{% url 'delete_inbox_item' messageid=messageofinterest.id %}"><button class="btn btn-danger">Reject</button></a>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}