{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'leagues/styles/leaguelist.css' %}">
{% endblock %}

{% block marquee %}
{% endblock %}
{% block body %}
<div class="row content-section align-items-center">
    {% if user.is_authenticated %}
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <a href="{% url 'league_list' %}"><button class="btn btn-info">View Leagues</button></a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="d-flex justify-content-center ">
            <img src="{% static 'main/images/pdllogo.png' %}" alt="" height=75px>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <a href="{% url 'create_league' %}"><button class="btn btn-info">Create A League</button></a>
            </div>
        </div>
        {% else %}
        <div class="col-md-6">
            <div class="d-flex justify-content-center ">
                <div class="mb-3"><img class="img-fluid" src="{% static 'main/images/pdllogo.png' %}" alt=""></div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <h3>Welcome to Pokemon Draft League Online!</h3>
            <div>This is a website designed to assist in running and participating in Pokemon Draft Leagues.</div>
            <div>New Users may sign up for an account <a class="text-light" href="{% url 'signup' %}"><u>here.</u></a></div>
            <div>Returning Users may sign up for an account <a class="text-light" href="{% url 'login' %}"><u>here.</u></a></div>
        </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-12 bg-darkgrey rounded pt-3">
        <div class="card table-responsive bg-lightgrey text-dark text-center overflow-auto mb-3">
            <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                <tr class="bg-dark text-light">
                    <th>League</th>
                    <th style="width: 20%">Platform(s)</th>
                    <th style="width: 20%">Metagame(s)</th>
                    <th class="d-none d-md-table-cell" style="width: 20%">Hosts</th>
                    <th>Links</th>
                </tr>
                {% for item in allleagues %}
                <tr>
                    <td class="align-middle">
                        <a class="text-dark" href="{% url 'league_detail' league_name=item.name %}">
                            <img src="{{ item.logo.url }}" class="small-logo img-fluid">
                            <div>{{ item.name }}</div>
                        </a>
                    </td>
                    <td class="align-middle">{{item.settings.platform}}</td>
                    <td class="align-middle">{{item.settings.metagame}}</td>
                    <td class="d-none d-md-table-cell align-middle">{% for h in item.host.all %}{% if forloop.first %}{{h.username}}{% elif forloop.last %} and
                        {{h.username}}{% else %}, {{h.username}}{% endif %}{% endfor %}</td>
                    <td class="align-middle">
                        {% if item.settings.is_recruiting %}
                        <div><a class="text-dark" href="{% url 'league_application' league_name=item.name  %}">Apply</a></div>
                        {% endif %}
                        {% if item.subleague.first.discord_settings.discordurl != "Not Provided" and item.subleague.first.discord_settings %}
                        <div><a class="text-dark" href="{{ item.subleague.first.discord_settings.discordurl }}">Join the Discord</a></div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}