{% load static %}
{% load extratags %}
<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}"> <img src="{% static 'main/images/pdllogo.png' %}" width="80"
      height="48" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <div class="navbar-nav">
      {% if not leaguepage and not otherseasons and not leaguecomposite %}
      <a class="nav-item nav-link" href="{% url 'league_list' %}">Leagues</a>
      {% if leagueshosted %}
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Leagues Hosting</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {% for item in leagueshosted %}
          <a class="dropdown-item" href="{% url 'league_detail' league_name=item.name %}">{{item.name}}</a>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Leaderboards</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'userleaderboard' %}">User Leaderboard</a>
          <a class="dropdown-item" href="{% url 'pokemonleaderboard' %}">Pokemon Leaderboard</a>
          <a class="dropdown-item" href="{% url 'moveleaderboard' %}">Move Leaderboard</a>
          <a class="dropdown-item" href="{% url 'pickemleaderboard' %}">Pickems Leaderboard</a>
        </div>
      </div>
      {% elif leaguepage %}
      <a class="nav-item nav-link" href="{% url 'league_detail' league_name=league_name %}">{{ league_name }} Home</a>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Team Pages</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {% for team in league_teams %}
          <a class="dropdown-item"
            href="{% url 'team_page' league_name=league_name subleague_name=team.subleague.subleague|s2u team_abbreviation=team.teamabbreviation %}">{{ team.teamname }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">League Resources</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item"
            href="{% url 'league_schedule' league_name=league_name|s2u subleague_name=subleague.subleague|s2u %}">Schedule</a>
          <a class="dropdown-item"
            href="{% url 'league_playoffs' league_name=league_name|s2u subleague_name=subleague.subleague|s2u %}">Playoffs</a>
          <a class="dropdown-item"
            href="{% url 'league_tiers' league_name=league_name|s2u subleague_name=subleague.subleague|s2u %}">Tiers</a>
          <a class="dropdown-item"
            href="{% url 'league_draft' league_name=league_name|s2u subleague_name=subleague.subleague|s2u %}">Draft</a>
          <a class="dropdown-item"
            href="{% url 'free_agency' league_name=league_name|s2u subleague_name=subleague.subleague|s2u %}">Free Agency</a>
          <a class="dropdown-item"
            href="{% url 'trading' league_name=league_name|s2u subleague_name=subleague.subleague|s2u %}">Trading</a>
          <a class="dropdown-item"
            href="{% url 'league_leaders' league_name=league_name|s2u subleague_name=subleague.subleague|s2u %}">League
            Leaders</a>
          <a class="dropdown-item"
            href="{% url 'league_rules' league_name=league_name|s2u subleague_name=subleague.subleague|s2u %}">Rules</a>
          <a class="dropdown-item"
            href="{% url 'league_hall_of_fame' league_name=league_name|s2u subleague_name=subleague.subleague|s2u %}">Hall of
            Fame</a>
          <a class="dropdown-item" href="{% url 'otherseasonslist' league_name=league_name|s2u %}">View Other Seasons</a>
        </div>
      </div>
      {% elif leaguecomposite %}
      <a class="nav-item nav-link" href="{% url 'league_detail' league_name=league_name|s2u %}">{{ league_name }} Home</a>
      {% if league_teams %}
      <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Teams</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% for item in league_teams %}
            <a class="dropdown-item"
              href="{% url 'teampage_detail' league_name=league_name|replace:' ,_' team_name=item.name|replace:' ,_' %}">{{ item.name  }}</a>
            {% endfor %}
          </div>
        </div>
      {% endif %}  
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Subleagues</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {% for item in subleagues %}
          <a class="dropdown-item"
            href="{% url 'subleague_detail' league_name=league_name|s2u subleague_name=item.subleague|s2u %}">{{ item.subleague  }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">League Resources</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item"
            href="{% url 'total_league_schedule' league_name=league_name|replace:' ,_' %}">Schedule</a>
          <a class="dropdown-item"
            href="{% url 'total_league_playoffs' league_name=league_name|replace:' ,_' %}">Playoffs</a>
          <a class="dropdown-item"
            href="{% url 'composite_league_leaders' league_name=league_name|replace:' ,_' %}">League
            Leaders</a>
          <a class="dropdown-item" href="{% url 'otherseasonslist' league_name=league_name|replace:' ,_' %}">View Other Seasons</a>
        </div>
      </div>
      {% else %}
      <a class="nav-item nav-link" href="{% url 'league_detail' league_name=league_name %}">{{ league_name }} Home</a>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Other Seasons</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {% for item in otherseasons %}
          <a class="dropdown-item"
            href="{% url 'seasondetail' league_name=league_name seasonofinterest=item.seasonname|replace:' ,_' %}">{{ item.seasonname }}</a>
          {% endfor %}
        </div>
      </div>
      {% if season_teams %}
      <a class="nav-item nav-link"
        href="{% url 'seasondetail' league_name=league_name seasonofinterest=season.seasonname|replace:' ,_' %}">{{ league_name }}
        {{season.seasonname}} Home</a>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Team Pages</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {% for team in season_teams %}
          <a class="dropdown-item"
            href="{% url 'seasonteamdetail' league_name=league_name|replace:' ,_' seasonofinterest=season.seasonname|replace:' ,_' teamofinterest=team.teamname|replace:' ,_' %}">{{ team.teamname }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Season Resources</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item"
            href="{% url 'seasonschedule' league_name=league_name|replace:' ,_' seasonofinterest=season.seasonname|replace:' ,_' %}">Regular
            Season Matches</a>
          <a class="dropdown-item"
            href="{% url 'seasonplayoffs' league_name=league_name|replace:' ,_' seasonofinterest=season.seasonname|replace:' ,_' %}">Playoffs</a>
          <a class="dropdown-item"
            href="{% url 'seasondraft' league_name=league_name|replace:' ,_' seasonofinterest=season.seasonname|replace:' ,_' %}">Draft</a>
          <a class="dropdown-item"
            href="{% url 'seasontransactions' league_name=league_name|replace:' ,_' seasonofinterest=season.seasonname|replace:' ,_' %}">Transactions</a>
          <a class="dropdown-item"
            href="{% url 'seasonleagueleaders' league_name=league_name|replace:' ,_' seasonofinterest=season.seasonname|replace:' ,_' %}">League
            Leaders</a>
          <a class="dropdown-item"
            href="{% url 'seasonhalloffame' league_name=league_name|replace:' ,_' seasonofinterest=season.seasonname|replace:' ,_' %}">Hall
            of Fame</a>
        </div>
      </div>
      {% endif %}
      {% endif %}
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Tools</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'discordbot' %}">Discord Bot</a>
          <a class="dropdown-item" href="{% url 'pokedex' %}">Pokedex</a>
          <a class="dropdown-item" href="{% url 'draftplanner' %}">Draft Planner</a>
          <a class="dropdown-item" href="{% url 'replay_database' %}">Replay Database</a>
          <a class="dropdown-item" href="{% url 'replay_analysis' %}">Replay Analyzer</a>
          <a class="dropdown-item" href="{% url 'help' %}">Help</a>
        </div>
      </div>
      <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
      {% if user.is_staff %}
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Admin</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'check_existing_replay' %}">Check Existing Replay</a>
          <a class="dropdown-item" href="{% url 'upload_historic_match' %}">Upload Historic Match</a>
          <a class="dropdown-item" href="{% url 'check_if_passes' %}">Check If Passes</a>
          <a class="dropdown-item" href="{% url 'check_analyzer' %}">Check Analyzer</a>
          <a class="dropdown-item" href="/admin/">Admin</a>
          <a class="dropdown-item" href="{% url 'runscript' %}">Runscript</a>
      </div>
    </div>
    {% endif %}
    </div>
    <!-- Navbar Right Side -->
    <div class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <div class="badgeheader">
            <img src="{{ user.profile.pfp.url }}" class="rounded-circle" width="30" height="30" alt="">
            {% if unreadmessages > 0 %}
            <span class="badge">{{ unreadmessages }}</span>
            {% endif %}
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'user_profile' username=user %}">Logged in as {{ user }}</a>
          <a class="dropdown-item" href="{% url 'user_profile' username=user %}">Your Profile</a>
          <a class="dropdown-item" href="{% url 'inbox' %}">Inbox
            {% if unreadmessages > 0 %}
            <span class="badge badge-danger">{{ unreadmessages }}</span>
            {% endif %}
          </a>
          <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
          <a class="dropdown-item" href="{% url 'help' %}">Help</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a>
        </div>
      </div>
      {% else %}
      <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
      <a class="nav-item nav-link" href="{% url 'signup' %}">Register</a>
      {% endif %}
    </div>
  </div>
</nav>