{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load extratags %}

{% block title %}{{league.name}}: Draft{% endblock %}
{% block head%}
{% endblock %}
{% block body %}
<div class="row content-section">
    <div id="draftprogress" class="container">
        <h5>Draft Progress</h5>
        <div class="progress">
            <div class="progress-bar bg-success style-width-{{ draftprogress }}" role="progressbar"
                aria-valuenow="{{ draftprogress }}" aria-valuemin="0" aria-valuemax="100">
                <span>{{ draftprogress }}% Complete</span>
            </div>
        </div>
    </div>
    {% if draftactive %}
    <div id="draftform" class="col-md-4 d-flex justify-content-start">
        <div id="draftform2">
            <h5>Current drafting team: {{ currentpick.team.teamname }}</h5>
            <div class="d-flex justify-content-between">
            {% if candraft or is_host %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <datalist id="availablepokemons">
                    {% for item in availablepokemon %}
                    <option value="{{ item.pokemon }}">
                        {% endfor %}
                </datalist>
                <input list="availablepokemons" name="draftpick">
                <input name="purpose" type="submit" class="btn btn-primary" value="Submit">
            </form>
            {% endif %}
            {% if is_host %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input name="purpose" type="submit" class="btn btn-danger" value="Skip">
            </form>
            {% endif %}
            </div>
        </div>
    </div>
    <div id="draftpoints" class="col-md-4">
        <div class="d-flex justify-content-center">Points Remaining: {{ availablepoints }}</div>
    </div>
    <div id="timer" class="col-md-4 d-flex justify-content-end"></div>
    <div class="col-md-8">
        <h5>Leave a Pick</h5>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <input name="purpose" type="submit" class="btn btn-primary" value="Leave">
            </form>
    </div>
    <div class="col-md-4">
        <h5>Left Picks</h5>
        {% if leftpicks %}
        {% for item in leftpicks %}
        <div class="d-flex">
            <div>-{{item.pick.pokemon}} (Backup:{{item.backup.pokemon}})</div>
            <form method="POST">
                {% csrf_token %}
                <input name="pickid" value="{{item.id}}" hidden>
                <input name="purpose" type="submit" class="btn btn-danger" value="Delete">
            </form>
        </div>
        {% endfor %}
        {% else %}
        <div>-None</div>
        {% endif %}
    </div>
    {% endif %}
</div>
<div class="row content-section align-items-center">
        {% for item,budget,pointsused,team in draftorder %}
        <div class="col-md-4">
            <table class="table table-sm text-center bg-lightgrey text-dark">
                <tr>
                    <th colspan="3">
                        <div class="d-flex justify-content-center">
                            <div class="small-logo"><img class="img-fluid px-1 rounded-circle" src="{{item.team.logo.url}}"></div>
                            <div>{{item.team.teamname}}</div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>#</th>
                    <th>Pick</th>
                    <th>Points</th>
                </tr>
                {% for draftpick,cost in team %}
                <tr>
                    <td>{{draftpick.id|add:draftstartid }}</td>
                    <td>
                        {% if draftpick.pokemon.pokemon %}
                        <div class="d-flex justify-content-center">
                            <div class="small-logo"><img class="img-fluid px-1 rounded-circle" src="https://play.pokemonshowdown.com/sprites/{{ site_settings.sprite|split:0 }}/{{ draftpick.pokemon.pokemon|lower|cut:' '|cut:'.'|cut:':'|cut:'%'|replace:'mega-,mega'|replace:'nidoran-m,nidoran'|replace:'o-o,oo'|replace:'dusk-mane,duskmane'|replace:'dawn-wings,dawnwings' }}.{{ site_settings.sprite|split:1 }}"></div>
                            <div>{{draftpick.pokemon.pokemon}}</div>
                        </div>
                        {% else %}
                        <div>-</div>
                        {% endif %}
                    </td>
                    <td>{{ cost }}</td>
                </tr>
                {% endfor %}
                <tr>
                        <td class= "text-right" colspan="2">Points Used:</td>
                        <td>{{pointsused}}</td>
                    </tr>
                <tr>
                    <td class= "text-right" colspan="2">Points Remaining:</td>
                    <td >{{budget}}</td>
                </tr>
            </table>
        </div>
        {% endfor %}
    
</div>
{% endblock %}
{% block footer %}
<script>
    // Set the date we're counting down to
    var startDate = new Date('{{draftstart}}');
    var pickEnd = new Date('{{pickend}}');
    var now = new Date();
    
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();
        var timetostart=startDate.getTime()-now
        if (timetostart>0){
             // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(timetostart / (1000 * 60 * 60 * 24));
            var hours = Math.floor((timetostart % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((timetostart % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((timetostart % (1000 * 60)) / 1000);
            document.getElementById("draftprogress").style.display='none';
            document.getElementById("draftpoints").style.display='none';
            document.getElementById("draftform").style.display='none';
            document.getElementById("draftform2").style.display='none';
            document.getElementById("timer").classList.remove("col-md-4","justify-content-end")
            document.getElementById("timer").classList.add("col-md-12","justify-content-center")
            document.getElementById("timer").innerHTML="Draft Will Begin In "+days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";
        }
        else{
            var pickExpire = new Date(pickEnd);
            timeremaining=pickExpire.getTime()-now
            var days = Math.floor(timeremaining / (1000 * 60 * 60 * 24));
            var hours = Math.floor((timeremaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((timeremaining % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((timeremaining % (1000 * 60)) / 1000);
            document.getElementById("draftprogress").style.display='block';
            document.getElementById("draftpoints").style.display='block';
            document.getElementById("draftform").style.display='block';
            document.getElementById("draftform2").style.display='block';
            document.getElementById("timer").classList.remove("col-md-12","justify-content-center")
            document.getElementById("timer").classList.add("col-md-4","justify-content-end")
            document.getElementById("timer").innerHTML="Time Remaining: "+days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";
        }
       
    }, 1000);


</script>
{% endblock %}