{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load extratags %}

{% block title %}{{subleague.league.name}}-{{subleague.subleague}}: Draft{% endblock %}
{% block head%}
{% endblock %}
{% block body %}

<div class="row bg-darkgrey rounded pt-2 mb-2">
    <datalist id="availablepokemon">
        {% for item in availablepokemon %}
        <option value={{ item.pokemon.pokemon }}>{{ item.pokemon.pokemon }}</option>
        {% endfor %}
    </datalist>
    <div class="col-md">
        <div class="card bg-lightgrey text-dark text-center overflow-auto mb-3">
            <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                <tr class="bg-dark text-light"><th>Current Drafting Team</th><th >Points Remaining</th></tr>
                <tr><th><img class="smallsprite" src="{{currentpick.team.logo.url}}">{{currentpick.team.teamname}} ({{currentpick.team.teamabbreviation}})</th><th>{{ currentpoints }}</th></tr>
                <tr>
                    <td class="bg-dark text-light" colspan="2">Current Roster</td>
                </tr>
                <tr>
                    <td colspan=2>
                        <div class="row d-flex justify-content-center">
                        {% for item in currentpick.team.draftpicks.all %}
                        {% if item.pokemon.pokemon %}
                        <div class="col-6"><img class="smallsprite"
                            src="{{item.pokemon.pokemon|sprite:site_settings.sprite}}">{{item.pokemon.pokemon}}</div>
                        {% endif %}
                        {% endfor %}
                        </div>
                    </td>
                </tr>
                {% if request.user == currentpick.team.coach or request.user in subleague.league.host.all %}
                <tr class="bg-dark text-light"><th colspan="2">Pick</th></tr>
                <tr>
                    <form method="post">{% csrf_token %}
                        <td><input name="draftpick" class="form-control form-control-sm" type="text" list="availablepokemon"></td>
                        <td><input name="formpurpose" class="form-control form-control-sm btn btn-sm btn-primary" type="submit" value="Submit"></td>
                    </form>
                </tr>
                <tr>
                    <td colspan="2">
                        <form method="post">{% csrf_token %}
                            <input name="formpurpose" class="form-control form-control-sm btn btn-sm btn-warning" type="submit" value="Skip">
                        <form method="post">{% csrf_token %}
                            <input name="formpurpose" class="form-control form-control-sm btn btn-sm btn-danger" type="submit" value="Skip Remaining Picks">
                        </form>
                    </td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
    <div class="col-md">
        <div class="d-flex justify-content-around bg-dark border rounded">
            <select id="tierchoice">
                <option value="none">All Tiers</option>
                {% for t in tierchoices %}
                    <option value="{{t.tierpoints}}">{{t.tiername}}</option>
                {% endfor %}
            </select>
            <select id="typing">
                <option value="none">All Types</option>
                {% for type in types %}
                    <option value="{{type}}">{{type}} Types</option>
                {% endfor %}
            </select>
        </div>
        <div class="text-center bg-dark text-light border rounded">Available Pokemon</div>
        <div class="card bg-lightgrey text-dark text-center table-responsive overflow-auto mb-3 overflow-auto" style="height: 400px;">
            <table class="table table-sm table-bordered table-striped p-0 m-0 text-center ">
                {% for item in availablepokemon %}
                <tr class="tieritem" data-tier="{{item.tier.tierpoints}}">
                    <td><img class="smallsprite" src="{{item.pokemon.pokemon|sprite:site_settings.sprite}}">{{item.pokemon.pokemon}} ({{item.tier.tiername}}: {{item.tier.tierpoints}} pts)
                        {% for type in item.pokemon.types.all %}
                        <div class="{{type.typing}}" hidden>{{type.typing}}</div>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% if iscoach %}
    <div class="col-md">
        <div class="card bg-lightgrey text-dark text-center overflow-auto mb-3">
            <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                <tr class="bg-dark text-light"><th colspan="3">Left Picks</th></tr>
                <tr class="bg-dark text-light"><th>Pokemon</th><th>Backup (Optional)</th><th>Action</th></tr>
                {% for item in leftpicks %}
                <tr>
                    <td><img class="smallsprite"
                        src="{{item.pick.pokemon|sprite:site_settings.sprite}}">{{ item.pick.pokemon }}</td>
                    <td>
                        {% if item.pick != item.backup %}
                        <img class="smallsprite" src="{{item.backup.pokemon|sprite:site_settings.sprite}}">{{ item.backup.pokemon }}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td><form method="post">{% csrf_token %}<input name="leftpickid" type="text" value="{{item.id}}" hidden><input name="formpurpose" class="form-control form-control-sm btn btn-sm btn-danger" type="submit" value="Delete"></form></td>
                </tr>
                {% endfor %}
                <tr>
                    <form method="post">{% csrf_token %}
                        <td><input name="pick" class="form-control form-control-sm" type="text" list="availablepokemon"></td>
                        <td><input name="backup" class="form-control form-control-sm" type="text" list="availablepokemon"></td>
                        <td><input name="formpurpose" class="form-control form-control-sm btn btn-sm btn-primary" type="submit" value="Add"></td>
                    </form>
                </tr>
            </table>
        </div>
    </div>
    {% endif %}
</div>
<div class="row bg-darkgrey rounded pt-2">
    <div class="d-none d-md-block col-md-3">
        <div class="card table-responsive bg-lightgrey text-dark text-center overflow-auto mb-3">
            <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                <tr class="bg-dark text-light">
                    <th colspan="3">Draft ({{ draftprogress }}% Complete)</th>
                </tr>
                <tr class="bg-dark text-light">
                    <th>Pick</th>
                    <th>Team</th>
                    <th>Pokemon</th>
                </tr>
                {% for item in draftlist %}
                <tr>
                    <td>{{item.picknumber}}</td>
                    <td>{{item.team.teamabbreviation}}</td>
                    <td>{% if item.pokemon.pokemon %}<img class="smallsprite"
                            src="{{item.pokemon.pokemon|sprite:site_settings.sprite}}">{{item.pokemon.pokemon}}{% else %}-{% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-12 col-md-9">
        <div class="row d-flex justify-content-around">
            {% for team,teamdraft,pointsused,pointsremaining in draftbyteam %}
            <div class="col-md-4">
                <div class="card table-responsive bg-lightgrey text-dark text-center overflow-auto mb-3">
                    <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                        <tr class="bg-dark text-light">
                            <th colspan="3"><img class="smallsprite" src="{{team.logo.url}}">{{team.teamname}}
                                ({{team.teamabbreviation}})</th>
                        </tr>
                        <tr class="bg-dark text-light">
                            <th>Pick</th>
                            <th>Pokemon</th>
                            <th>Points</th>
                        </tr>
                        {% for picknumber,pokemon,points in teamdraft %}
                        <tr>
                            <td>{{picknumber}}</td>
                            <td>{% if pokemon != "-" %}<img class="smallsprite"
                                    src="{{pokemon|sprite:site_settings.sprite}}">{% endif %}{{pokemon}}</td>
                            <td>{{points}}</td>
                        </tr>
                        {% endfor %}
                        <tr class="bg-dark text-light">
                            <td colspan="2">Points Used:</td>
                            <td>{{ pointsused }}</td>
                        </tr>
                        <tr class="bg-dark text-light">
                            <td colspan="2">Points Remaining:</td>
                            <td>{{ pointsremaining }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<script src="{% static 'individualleague/scripts/draftfilter.js' %}"></script>
{% endblock %}