{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load extratags %}
{% load widget_tweaks %}

{% block title %}{{league_name}}: Free Agency{% endblock %}
{% block head%}
{% endblock %}
{% block body %}
<div class="row bg-darkgrey rounded pt-2 mb-2">
    <datalist id="availablepokemon">
        {% for item in availablepokemon %}
        <option value={{ item.pokemon.pokemon }}>{{ item.pokemon.pokemon }}</option>
        {% endfor %}
    </datalist>
    <div class="col-md">
        <div class="card bg-lightgrey text-dark text-center overflow-auto mb-3">
            <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                <tr class="bg-dark text-light"><th>Free Agency Transactions Remaining</th><th colspan="2">Points Remaining</th></tr>
                <tr><th>{{ fa_remaining }}</th><th colspan="2">{{ pointsremaining }}</th></tr>
                {% if personalfreeagency %}
                <tr>
                    <td class="bg-dark text-light" colspan="3">Prior Free Agency Transactions</td>
                </tr>
                <tr class="bg-dark text-light">
                    <th>Dropped Pokemon</th>
                    <th>Added Pokemon</th>
                    <th>Action</th>
                </tr>
                {% for item in personalfreeagency %}
                <tr>
                    <td><img class="smallsprite"
                    src="{{item.droppedpokemon.pokemon|sprite:site_settings.sprite}}">{{item.droppedpokemon.pokemon}}</td>
                    <td><img class="smallsprite"
                        src="{{item.addedpokemon.pokemon|sprite:site_settings.sprite}}">{{item.addedpokemon.pokemon}}</td>
                    <td>{% if not item.executed %}<form method="post">{% csrf_token %}<input name="formpurpose" type="Submit" class="btn btn-sm btn-danger form-control form-control-sm" value="Undo"><input name="freeagencyid" type="text" value="{{item.id}}" hidden></form>{% endif %}</td>                
                </tr>
                {% endfor %}
                {% endif %}
                {% if fa_remaining > 0 %}
                <tr class="bg-dark text-light"><th colspan="3">Submit New Free Agency</th></tr>
                <form method="post">{% csrf_token %}
                    <div hidden>
                        {{form.coach}}
                        {{form.season}}
                        {{form.weekeffective}}
                    </div>
                    <tr>
                        <th class="bg-dark text-light">Dropped Pokemon</th>
                        <td colspan="2">{{form.droppedpokemon|add_class:"form-control"|add_class:"form-control-sm"}}</td>
                    </tr>
                    <tr>
                        <th class="bg-dark text-light">Added Pokemon</th>
                        <td colspan="2">{{form.addedpokemon|add_class:"form-control"|add_class:"form-control-sm"}}</td>
                    </tr>
                    <tr><td colspan="3"><input name="formpurpose" class="btn btn-sm btn-primary form-control form-control-sm" type="submit" value="Submit"></td></tr>
                </form>
                {% endif %}
            </table>
        </div>
    </div>
    <div class="col-md">
        <div class="d-flex justify-content-around bg-dark border rounded">
            <select id="tierchoice">
                <option value="none">All Tiers</option>
                {% for t in tierchoices %}
                    <option value="{{t.tierpoints}}">{{t.tiername}}</option>
                {% endfor %}
            </select>
            <select id="typing">
                <option value="none">All Types</option>
                {% for type in types %}
                    <option value="{{type}}">{{type}} Types</option>
                {% endfor %}
            </select>
        </div>
        <div class="text-center bg-dark text-light border rounded">Available Pokemon</div>
        <div class="card bg-lightgrey text-dark text-center table-responsive overflow-auto mb-3 overflow-auto" style="height: 400px;">
            <table id="availabletable" class="table table-sm table-bordered table-striped p-0 m-0 text-center ">
                
            </table>
        </div>
    </div>
</div>
<div class="row bg-darkgrey rounded pt-2 mb-2">
    {% if pendingfreeagency %}
    <div class="col-md">
        <div class="card bg-lightgrey text-dark text-center overflow-auto mb-3">
            <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                <tr class="bg-dark text-light"><th colspan="4">Pending Free Agent Transactions</th></tr>
                <tr class="bg-dark text-light"><th>Team</th><th>Dropped Pokemon</th><th>Added Pokemon</th><th>Effective Week</th></tr>
                {% for item in pendingfreeagency %}
                <tr>
                    <td><img class="smallsprite" src="{{item.coach.logourl}}">{{item.coach.teamname}}</td>
                    <td><img class="smallsprite"
                        src="{{item.droppedpokemon.pokemon|sprite:site_settings.sprite}}">{{item.droppedpokemon.pokemon}}</td>
                    <td><img class="smallsprite"
                        src="{{item.addedpokemon.pokemon|sprite:site_settings.sprite}}">{{item.addedpokemon.pokemon}}</td>
                    <td>{{item.weekeffective}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
    {% if completedfreeagency %}
    <div class="col-md">
        <div class="card bg-lightgrey text-dark text-center overflow-auto mb-3">
            <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                <tr class="bg-dark text-light"><th colspan="4">Completed Free Agent Transactions</th></tr>
                <tr class="bg-dark text-light"><th>Team</th><th>Dropped Pokemon</th><th>Added Pokemon</th><th>Effective Week</th></tr>
                {% for item in completedfreeagency %}
                <tr>
                    <td><img class="smallsprite" src="{{item.coach.logourl}}">{{item.coach.teamname}}</td>
                    <td><img class="smallsprite"
                        src="{{item.droppedpokemon.pokemon|sprite:site_settings.sprite}}">{{item.droppedpokemon.pokemon}}</td>
                    <td><img class="smallsprite"
                        src="{{item.addedpokemon.pokemon|sprite:site_settings.sprite}}">{{item.addedpokemon.pokemon}}</td>
                    <td>{{item.weekeffective}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block footer %}
<script>
    var spritesettings= {{spritesettings|safe}}
    var availablejson = {{availablepokemonjson|safe}}
</script>
<script src="{% static 'individualleague/scripts/draftfilter.js' %}"></script>
{% endblock %}