{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{league.name}}{% endblock %}
{% block head%}
{% endblock %}
{% block body %}

<div class="row content-section align-items-center">
    <div class="col-md-4 d-flex justify-content-start"><img src="{{league.logourl}}" class="rounded-circle mediumlogo">
    </div>
    <div class="col-md-4">
        <h3 class="d-flex justify-content-center">{{league.name}}</h3>
        <div class="d-flex justify-content-center text-center">Hosted by {% for h in league.host.all %}{% if forloop.first %}{{h.username}}{% elif forloop.last %} and {{h.username}}{% else %}, {{h.username}}{% endif %}{% endfor %}</div>
        {% if league.discord_settings.discordurl != 'Not Provided' %}
        <div class="d-flex justify-content-center">
            <a href="{{ league.discord_settings.discordurl }}"><button class="btn btn-primary">Join the
                    Discord</button></a>
        </div>
        {% endif %}
    </div>
    <div class="col-md-4 d-flex justify-content-end">
        {% if league.settings.is_recruiting %}
        <div class="d-flex justify-content-center text-success">Recruiting Coaches!</div>
        {% if apply %}
        <div class="d-flex justify-content-center"><a href="apply"><button class="btn btn-success">Apply</button></a>
        </div>
        {% endif %}
        {% else  %}
        <div class="col-md-4 d-flex justify-content-start"><img src="{{league.logourl}}" class="rounded-circle mediumlogo">
        </div>
        {% endif %}
    </div>
</div>
<div class="row content-section align-items-center">
    <div class="col-md-12">
        <div class="row align-items-center">
            <div class="col-md-12 d-flex justify-content-center">
                <h3>Standings</h3>
            </div>
        </div>
        <div class="row align-items-start">
            <div class="col-md-12">
                <table class="table table-sm bg-lightgrey text-dark text-center">
                    <tr>
                        <th colspan="8">{{ conference }}</th>
                    </tr>
                    <tr>
                        <th>Team</th>
                        <th>W</th>
                        <th>L</th>
                        <th>Tie</th>
                        <th>Points</th>
                        <th>GP</th>
                        <th>GW</th>
                        <th>+/-</th>
                    </tr>
                    {% for name,teamlist in parent_teams %}
                    <tr>
                        <td>
                            <div class="d-flex justify-content-center">
                                <img class="smallsprite mx-1" src="{{ name.logourl }}">
                                <div>{{name.name}}</div>
                            </div>
                        </td>
                        <td>{{name.wins}}</td>
                        <td>{{name.losses}}</td>
                        <td>{{name.ties}}</td>
                        <td>{{name.points}}</td>
                        <td>{{name.gp}}</td>
                        <td>{{name.gw}}</td>
                        <td>{{name.differential}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% for name,teamlist in parent_teams %}
            <div class="col-md-6">
                <table class="table table-sm bg-lightgrey text-dark text-center">
                    <tr>
                        <th colspan="5">{{name.name}}</th>
                    </tr>
                    <tr>
                        <th>Team</th>
                        <th>W</th>
                        <th>L</th>
                        <th>+/-</th>
                        <th>Streak</th>
                    </tr>
                    {% for item in teamlist %}
                    <tr>
                        <td>
                            <div class="d-flex">
                                <img class="smallsprite mx-1 rounded-circle" src="{{item.coach.profile.logourl}}">
                                <div>{{item.coach.username}} ({{item.teamname}})</div>
                            </div>
                        </td>
                        <td>{{item.wins}}</td>
                        <td>{{item.losses}}</td>
                        <td>{{item.differential}}</td>
                        <td>
                            {% if item.streak > -1 %}
                            Win-{{item.streak}}
                            {% else %}
                            Lose{{item.streak}}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="d-flex">
                            <img class="smallsprite mx-1 rounded-circle" src="{{ name.alternate.profile.logourl }}">
                            Alternate: {{name.alternate.username}}</td>
                    </tr>
                </table>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}