{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load extratags %}

{% block title %}{{league_name}} {% if otherseason %}{{season.seasonname}}{% endif %}: League Leaders{% endblock %}
{% block head%}
<link rel="stylesheet" type="text/css" href="{% static 'individualleague/styles/tablesorter.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'individualleague/styles/leagueleaders.css' %}">
{% endblock %}
{% block body %}
<div class="row bg-darkgrey rounded text-light p-2 align-items-center mb-2">
    <div class="col-md-4 d-flex justify-content-start"><img src="{{subleague.league.logo.url}}"
            class="rounded-circle mediumlogo">
    </div>
    <div class="col-md-4">
        <h3 class="d-flex justify-content-center">League Leaders</h3>
    </div>
    <div class="col-md-4 d-flex justify-content-end"><img src="{{subleague.league.logo.url}}"
            class="rounded-circle mediumlogo">
    </div>
</div>
<div class="row bg-darkgrey rounded text-light p-2">
    <div class="col-12">
        <div class="card table-responsive bg-lightgrey text-dark text-center overflow-auto mb-3">
            <table id="leadertable" class="table table-sm table-bordered table-striped p-0 m-0 text-center tablesorter">
                <thead>
                <tr class="bg-dark text-light">
                    <th>#</th>
                    <th>Pokemon</th>
                    <th >Team</th>
                    <th >K</th>
                    <th >D</th>
                    <th >+/-</th>
                    <th >GP</th>
                    <th >GW</th>
                    <th >Damage Done</th>
                    <th >HP Healed</th>
                    <th >Luck</th>
                    <th >Support Provided</th>
                    <th >Remaining Health</th>
                </tr>
                </thead>
                <tbody>
                {% for item in leagueleaders %}
                <tr>
                    <td class="rownum">{{forloop.counter}}</td>
                    <td>
                        <div class="d-flex">
                            <div>
                                <img class="smallsprite"
                                    src="{% static 'pokemondatabase/sprites/'|add:site_settings.sprite|pkmnreplace:item.pokemon.pokemon|cut:':' %}">
                            </div>
                            <div>
                                {{ item.pokemon.pokemon }}
                            </div>
                        </div>
                    </td>
                    <td>{% if otherseason %}
                        {{ item.team.teamname }}
                        {% else %}
                        {{ item.team.teamabbreviation }}
                        {% endif %}
                    </td>
                    <td>{{ item.kills }}</td>
                    <td>{{ item.deaths }}</td>
                    <td>{{ item.differential }}</td>
                    <td>{{ item.gp }}</td>
                    <td>{{ item.gw }}</td>
                    <td>{{ item.damagedone }}</td>
                    <td>{{ item.hphealed }}</td>
                    <td>{{ item.luck }}</td>
                    <td>{{ item.support }}</td>
                    <td>{{ item.remaininghealth }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<script src="{% static 'individualleague/scripts/tablesorter2.js' %}"></script>
<script src="{% static 'individualleague/scripts/tablesorterwidgets.js' %}"></script>
<script src="{% static 'individualleague/scripts/leaderboardsorter.js' %}"></script>
{% endblock %}