{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load extratags %}

{% block title %}Change Match Attribution{% endblock %}
{% block head%}
{% endblock %}
{% block body %}

<div class="row content-section align-items-center">
    <div class="col-md-4 d-flex justify-content-start"><img src="{{subleague.league.logo.url}}" class="rounded-circle mediumlogo"></div>
    <div class="col-md-4">
        <h3 class="d-flex justify-content-center">Change Match Attribution</h3>
    </div>
    <div class="col-md-4 d-flex justify-content-end"><img src="{{subleague.league.logo.url}}" class="rounded-circle mediumlogo"></div>
</div>
<div class="row content-section align-items-center">
    <div class="col-md-12">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}
{% block footer %}

{% endblock %}