{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load extratags %}

{% block title %}{{subleague.league.name}}: Matchup{% endblock %}
{% block head%}
<link rel="stylesheet" type="text/css" href="{% static 'individualleague/styles/matchup.css' %}">
{% endblock %}
{% block body %}
<div class="row bg-darkgrey rounded text-light mb-2 align-items-center">
    <div class="col-md-4 d-flex justify-content-start"><img src="{{match.team1.logo.url}}"
            class="rounded-circle mediumlogo"></div>
    <div class="col-md-4">
        <h3 class="d-flex justify-content-center">Matchup</h3>
    </div>
    <div class="col-md-4 d-flex justify-content-end"><img src="{{match.team2.logo.url}}"
            class="rounded-circle mediumlogo"></div>
</div>
<div class="row bg-darkgrey rounded text-light mb-2">
    <div class="col-12 d-flex justify-content-around py-1">
        <button class="btn btn-primary matchup-menu">Pokemon Data</button>
        <button class="btn btn-primary matchup-menu">Season Statistics</button>
        <button class="btn btn-primary matchup-menu">Speed Tiers</button>
        <button class="btn btn-primary matchup-menu">Useful Moves</button>
    </div>
</div>
<div id="pokemondata" class="row bg-darkgrey rounded text-light section mb-2 pb-2">
    <h3 class="col-12 text-center">Pokemon Data</h3>
    <div class="col-md-6">
            <div class="card table-responsive bg-lightgrey text-dark text-center text-nowrap overflow-auto">
                <table class="table table-sm table-bordered table-striped p-0 m-0">
                        <tr class="bg-dark text-light th">
                                <th colspan="3"></th>
                                <th colspan="6">Base Stats</th>
                            </tr>
                    <tr class="bg-dark text-light sort th">
                        <th>Pokemon</th>
                        <th>Typing</th>
                        <th>Abilities</th>
                        <th>HP</th>
                        <th>Atk</th>
                        <th>Def</th>
                        <th>Sp. Atk</th>
                        <th>Sp. Def</th>
                        <th>Speed</th>
                    </tr>
                    {% for item in team1roster %}
                    <tr>
                        <td>
                            <img class="smallsprite" src="{{ item.pokemon.pokemon|sprite:site_settings.sprite }}">
                                    {{item.pokemon.pokemon}}
                        </td>
                        <td>
                            {% for item_ in item.pokemon.types.all %}
                            <div><img src="{% static 'pokemondatabase/sprites/types/'|add:item_.typing|cut:' '|add:'.png' %}">
                            </div>
                            {% endfor %}
                        </td>
                        <td>
                            {% for item_ in item.pokemon.abilities.all %}
                                <div>{{item_.ability}}</div>
                            {% endfor %}
                        </td>
                        <td>{{item.pokemon.hp}}</td>
                        <td>{{item.pokemon.attack}}</td>
                        <td>{{item.pokemon.defense}}</td>
                        <td>{{item.pokemon.s_attack}}</td>
                        <td>{{item.pokemon.s_defense}}</td>
                        <td>{{item.pokemon.speed}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    <div class="col-md-6">
        <div class="card table-responsive bg-lightgrey text-dark text-center text-nowrap overflow-auto">
            <table class="table table-sm table-bordered table-striped p-0 m-0">
                    <tr class="bg-dark text-light th">
                            <th colspan="3"></th>
                            <th colspan="6">Base Stats</th>
                        </tr>
                <tr class="bg-dark text-light sort th">
                    <th>Pokemon</th>
                    <th>Typing</th>
                    <th>Abilities</th>
                    <th>HP</th>
                    <th>Atk</th>
                    <th>Def</th>
                    <th>Sp. Atk</th>
                    <th>Sp. Def</th>
                    <th>Speed</th>
                </tr>
                {% for item in team2roster %}
                <tr>
                    <td>
                        <img class="smallsprite" src="{{ item.pokemon.pokemon|sprite:site_settings.sprite }}">
                                {{item.pokemon.pokemon}}
                    </td>
                    <td>
                        {% for item_ in item.pokemon.types.all %}
                        <div><img src="{% static 'pokemondatabase/sprites/types/'|add:item_.typing|cut:' '|add:'.png' %}">
                        </div>
                        {% endfor %}
                    </td>
                    <td>
                        {% for item_ in item.pokemon.abilities.all %}
                            <div>{{item_.ability}}</div>
                        {% endfor %}
                    </td>
                    <td>{{item.pokemon.hp}}</td>
                    <td>{{item.pokemon.attack}}</td>
                    <td>{{item.pokemon.defense}}</td>
                    <td>{{item.pokemon.s_attack}}</td>
                    <td>{{item.pokemon.s_defense}}</td>
                    <td>{{item.pokemon.speed}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div id="seasonstatistics" class="row bg-darkgrey rounded text-light section mb-2 pb-2">
        <h3 class="col-12 text-center">Season Statistics</h3>
        <div class="col-md-6">
                <div class="card table-responsive bg-lightgrey text-dark text-center text-nowrap overflow-auto">
                    <table class="table table-sm table-bordered table-striped p-0 m-0">
                        <tr class="bg-dark text-light sort th">
                            <th>Pokemon</th>
                            <th>K</th>
                            <th>D</th>
                            <th>+/-</th>
                            <th>GP</th>
                            <th>GW</th>
                        </tr>
                        {% for item in team1roster %}
                        <tr>
                            <td>
                                <img class="smallsprite" src="{{ item.pokemon.pokemon|sprite:site_settings.sprite }}">
                                        {{item.pokemon.pokemon}}
                            </td>
                            <td>{{item.kills}}</td>
                            <td>{{item.deaths}}</td>
                            <td>{{item.differential}}</td>
                            <td>{{item.gp}}</td>
                            <td>{{item.gw}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                    <div class="card table-responsive bg-lightgrey text-dark text-center text-nowrap overflow-auto">
                        <table class="table table-sm table-bordered table-striped p-0 m-0">
                            <tr class="bg-dark text-light sort th">
                                <th>Pokemon</th>
                                <th>K</th>
                                <th>D</th>
                                <th>+/-</th>
                                <th>GP</th>
                                <th>GW</th>
                            </tr>
                            {% for item in team2roster %}
                            <tr>
                                <td>
                                    <img class="smallsprite" src="{{ item.pokemon.pokemon|sprite:site_settings.sprite }}">
                                            {{item.pokemon.pokemon}}
                                </td>
                                <td>{{item.kills}}</td>
                                <td>{{item.deaths}}</td>
                                <td>{{item.differential}}</td>
                                <td>{{item.gp}}</td>
                                <td>{{item.gw}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
    </div>
<div id="speedtiers" class="row bg-darkgrey rounded text-light section mb-2 pb-2">
    <h3 class="col-12 text-center">Speed Tiers</h3>
    <div class="col-12 d-flex align-items-center justify-content-center">
        <span class="px-2">Level 50</span>
        <input type="checkbox" id="lvltoggle" class="checkbox" checked />
        <label for="lvltoggle" class="switch"></label><span class="px-2">Level 100</span>
    </div>
    <div class="col-md-6">
        <div class="card table-responsive bg-lightgrey text-dark text-center text-nowrap overflow-auto">
            <table class="table table-sm table-bordered table-striped p-0 m-0">
                <tr class="bg-dark text-light th">
                    <th colspan="2">
                    </th>
                    <th colspan="5" class="lvl50">Max Speeds</th>
                    <th colspan="5" class="lvl100">Max Speeds</th>
                </tr>
                <tr class="bg-dark text-light sort th">
                    <th>Pokemon</th>
                    <th>Base Speed</th>
                    <th class="lvl50">-2</th>
                    <th class="lvl50">-1</th>
                    <th class="lvl50">Neutral</th>
                    <th class="lvl50">+1</th>
                    <th class="lvl50">+2</th>
                    <th class="lvl100">-2</th>
                    <th class="lvl100">-1</th>
                    <th class="lvl100">Neutral</th>
                    <th class="lvl100">+1</th>
                    <th class="lvl100">+2</th>
                </tr>
                {% for item in team1roster %}
                <tr>
                    <td>
                        <img class="smallsprite"
                            src="{{ item.pokemon.pokemon|sprite:site_settings.sprite }}">
                        {{item.pokemon.pokemon}}
                    </td>
                    <td>{{item.pokemon.speed}}</td>
                    <td class="lvl50">{{item.pokemon.speed|speed:"-2,50"}}</td>
                    <td class="lvl50">{{item.pokemon.speed|speed:"-1,50"}}</td>
                    <td class="lvl50">{{item.pokemon.speed|speed:"0,50"}}</td>
                    <td class="lvl50">{{item.pokemon.speed|speed:"1,50"}}</td>
                    <td class="lvl50">{{item.pokemon.speed|speed:"2,50"}}</td>
                    <td class="lvl100">{{item.pokemon.speed|speed:"-2,100"}}</td>
                    <td class="lvl100">{{item.pokemon.speed|speed:"-1,100"}}</td>
                    <td class="lvl100">{{item.pokemon.speed|speed:"0,100"}}</td>
                    <td class="lvl100">{{item.pokemon.speed|speed:"1,100"}}</td>
                    <td class="lvl100">{{item.pokemon.speed|speed:"2,100"}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card table-responsive bg-lightgrey text-dark text-center text-nowrap overflow-auto">
            <table class="table table-sm table-bordered table-striped p-0 m-0">
                <tr class="bg-dark text-light th">
                    <th colspan="2">
                    </th>
                    <th colspan="5" class="lvl50">Max Speeds</th>
                    <th colspan="5" class="lvl100">Max Speeds</th>
                </tr>
                <tr class="bg-dark text-light sort th">
                    <th>Pokemon</th>
                    <th>Base Speed</th>
                    <th class="lvl50">-2</th>
                    <th class="lvl50">-1</th>
                    <th class="lvl50">Neutral</th>
                    <th class="lvl50">+1</th>
                    <th class="lvl50">+2</th>
                    <th class="lvl100">-2</th>
                    <th class="lvl100">-1</th>
                    <th class="lvl100">Neutral</th>
                    <th class="lvl100">+1</th>
                    <th class="lvl100">+2</th>
                </tr>
                {% for item in team2roster %}
                <tr>
                    <td>
                        <img class="smallsprite"
                            src="{{ item.pokemon.pokemon|sprite:site_settings.sprite }}">
                        {{item.pokemon.pokemon}}
                        </th>
                    <td>{{item.pokemon.speed}}</td>
                    <td class="lvl50">{{item.pokemon.speed|speed:"-2,50"}}</td>
                    <td class="lvl50">{{item.pokemon.speed|speed:"-1,50"}}</td>
                    <td class="lvl50">{{item.pokemon.speed|speed:"0,50"}}</td>
                    <td class="lvl50">{{item.pokemon.speed|speed:"1,50"}}</td>
                    <td class="lvl50">{{item.pokemon.speed|speed:"2,50"}}</td>
                    <td class="lvl100">{{item.pokemon.speed|speed:"-2,100"}}</td>
                    <td class="lvl100">{{item.pokemon.speed|speed:"-1,100"}}</td>
                    <td class="lvl100">{{item.pokemon.speed|speed:"0,100"}}</td>
                    <td class="lvl100">{{item.pokemon.speed|speed:"1,100"}}</td>
                    <td class="lvl100">{{item.pokemon.speed|speed:"2,100"}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div id="usefulmoves" class="row bg-darkgrey rounded text-light section mb-2 pb-2">
        <h3 class="col-12 text-center">Useful Moves</h3>
        <div class="col-md-6">
                <div class="card table-responsive bg-lightgrey text-dark text-center text-nowrap overflow-auto">
                    <table class="table table-sm table-bordered table-striped p-0 m-0">
                        <tr class="bg-dark text-light sort th">
                            <th>Move</th>
                            <th>Pokemon</th>
                        </tr>
                        {% for move in moves %}
                        <tr>
                            <td>{{move}}</td>
                            <td>
                                {% for item in team1roster %}
                                {% for item_ in item.pokemon.moves.all|movefilter %}
                                {% if item_.moveinfo.name == move %}
                                <img class="smallsprite"
                                src="{{ item.pokemon.pokemon|sprite:site_settings.sprite }}">
                                {% endif %}
                                {% endfor %}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                    <div class="card table-responsive bg-lightgrey text-dark text-center text-nowrap overflow-auto">
                        <table class="table table-sm table-bordered table-striped p-0 m-0">
                            <tr class="bg-dark text-light sort th">
                                <th>Move</th>
                                <th>Pokemon</th>
                            </tr>
                            {% for move in moves %}
                            <tr>
                                <td>{{move}}</td>
                                <td>
                                    {% for item in team2roster %}
                                    {% for item_ in item.pokemon.moves.all|movefilter %}
                                    {% if item_.moveinfo.name == move %}
                                    <img class="smallsprite"
                                    src="{{ item.pokemon.pokemon|sprite:site_settings.sprite }}">
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
    </div>
{% endblock %}
{% block footer %}
<!-- select code -->
<script src="{% static 'individualleague/scripts/matchup.js' %}"></script>
<script src="{% static 'individualleague/scripts/tablesorter.js' %}"></script>
{% endblock %}