{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load extratags %}

{% block title %}{{league.name}}: Schedule{% endblock %}
{% block head%}
{% endblock %}
{% block body %}

<div class="row content-section align-items-center">
    <div class="col-md-4 d-flex justify-content-start"><img src="{{league.logo.url}}" class="rounded-circle mediumlogo"></div>
    <div class="col-md-4">
        <h3 class="d-flex justify-content-center">Schedule</h3>
    </div>
    <div class="col-md-4 d-flex justify-content-end"><img src="{{league.logo.url}}" class="rounded-circle mediumlogo"></div>
</div>
<div class="row content-section align-items-center">
    {% for item in leagueschedule %}
        <div class="col-md-4">
            <h5>Week {{ forloop.counter }}</h5>
            <table class="table table-sm">
                {% for match in item %}
                    <tr>
                        <td>
                            <div>
                                <div class="d-flex justify-content-center"><img class="rounded-sprite mediumsprite" src="{{ match.team1.logo.url }}"></div>
                                <div class="d-flex justify-content-center">{{ match.team1.teamabbreviation }}</div>
                            </div>
                        <td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <h5>vs.</h5>
                            </div>
                        <td>
                            <div>
                                <div class="d-flex justify-content-center"><img class="rounded-sprite mediumsprite" src="{{ match.team2.logo.url }}"></div>
                                <div class="d-flex justify-content-center">{{ match.team2.teamabbreviation }}</div>
                            <div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="d-flex justify-content-center"><a href="{% url 'league_matchup' league_name=league_name matchid=match.id %}">View Matchup</a></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            {% if match.replay == 'Link' %}
                                <div class="d-flex justify-content-center"><a href="{% url 'upload_league_replay' league_name=league_name matchid=match.id %}">Upload Replay</a></div>
                            {% else %}    
                                <div class="d-flex justify-content-center"><a href="{% url 'league_match_results' league_name=league_name matchid=match.id %}">Replay Info</a></div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}
</div>
{% endblock %}