{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load extratags %}

{% block title %}{{league.name}}: Schedule{% endblock %}
{% block head%}
{% endblock %}
{% block body %}

<div class="row content-section align-items-center">
    <div class="col-md-4 d-flex justify-content-start"><img src="{{league.logo.url}}" class="rounded-circle mediumlogo">
    </div>
    <div class="col-md-4">
        <h3 class="d-flex justify-content-center">Schedule</h3>
    </div>
    <div class="col-md-4 d-flex justify-content-end"><img src="{{league.logo.url}}" class="rounded-circle mediumlogo">
    </div>
</div>
<div class="row content-section align-items-start">
    {% for item in leagueschedule %}
    <div class="col-md-4">
        <h5>Week {{ forloop.counter }}</h5>
        <table class="table table-sm">
            {% for match in item %}
            <tr class="bg-lightgrey text-dark">
                <td>
                    <div>
                        <div class="d-flex justify-content-center"><img class="rounded-sprite mediumsprite"
                                src="{{ match.team1.logo.url }}"></div>
                        <div class="d-flex justify-content-center">{{ match.team1.teamabbreviation }}</div>
                    </div>
                <td>
                <td>
                    <div class="d-flex justify-content-center">
                        <h5>vs.</h5>
                    </div>
                <td>
                    <div>
                        <div class="d-flex justify-content-center"><img class="rounded-sprite mediumsprite"
                                src="{{ match.team2.logo.url }}"></div>
                        <div class="d-flex justify-content-center">{{ match.team2.teamabbreviation }}</div>
                        <div>
                </td>
            </tr>
            <tr class="bg-lightgrey text-dark">
                <td colspan="4">
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'league_matchup' league_name=league_name matchid=match.id %}"><button class="btn btn-dark">View Matchup</button></a></div>
                </td>
            </tr>
            <tr class="bg-lightgrey text-dark rounded-bottom">
                {% if match.replay == 'Link' %}
                {% if ishost or request.user == match.team1.coach or request.user == match.team1.teammate or request.user == match.team2.coach or request.user == match.team3.teammate %}
                <td colspan="4">
                    <div class="d-flex justify-content-center"><a
                            href="{% url 'upload_league_replay' league_name=league_name matchid=match.id %}"><button
                                class="btn btn-dark">Upload Replay</button></a></div>
                </td>
                {% endif %}
                {% else %}
                <td colspan="4">
                    <div class="d-flex justify-content-center"><a
                            href="{% url 'league_match_results' league_name=league_name matchid=match.id %}"><button
                                class="btn btn-dark">Replay</button></a></div>
                </td>
                {% endif %}
            </tr>
            {% if ishost and match.replay == 'Link' %}
            <tr class="bg-lightgrey text-dark rounded-bottom">
                <td colspan="4">
                    <div class="d-flex justify-content-center">
                        <form method='post'>{% csrf_token %}
                            <input name="purpose" value='t1ff' hidden>
                            <input name="matchid" value='{{match.id}}' hidden>
                            <button class="btn btn-dark">{{match.team1.teamabbreviation}} Forfeit</button>
                        </form>  
                        <form method='post'>{% csrf_token %}
                            <input name="purpose" value='t2ff' hidden>
                            <input name="matchid" value='{{match.id}}' hidden>
                            <button class="btn btn-dark">{{match.team2.teamabbreviation}} Forfeit</button>
                        </form>   
                    </div>
                    <div class="d-flex justify-content-center">
                        <form method='post'>{% csrf_token %}
                            <input name="purpose" value='bothff' hidden>
                            <input name="matchid" value='{{match.id}}' hidden>
                            <button class="btn btn-dark">Both Forfeit</button>
                        </form>   
                    </div>
                </td>
                </tr>
            {% endif %}
            <tr class="spacer"><td colspan="4"></td></tr>
            {% endfor %}
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}