{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load extratags %}

{% block title %}{{league_name}}{% endblock %}
{% block head%}
{% endblock %}
{% block body %}
<div class="row bg-darkgrey text-light rounded align-items-center mb-2 p-2">
    <div class="col-4 d-flex justify-content-start"><img src="{{league.logo.url}}" class="rounded-circle mediumlogo">
    </div>
    <div class="col-4">
        <h3 class="d-flex justify-content-center">{{league_name}}</h3>
        <div class="justify-content-center text-center d-none d-md-flex">Hosted by {% for h in league.host.all %}{% if forloop.first %}{{h.username}}{% elif forloop.last %} and {{h.username}}{% else %}, {{h.username}}{% endif %}{% endfor %}</div>
        {% if league.subleague.first.discord_settings.discordurl != "Not Provided" and league.subleague.first.discord_settings %}
            <div class="d-flex justify-content-center"><a href="{{ subleague.discord_settings.discordurl }}"><button class="btn btn-sm btn-primary">Join the Discord</button></a></div>
        {% endif %}
    </div>
    <div class="col-4 d-flex justify-content-end"><img src="{{league.logo.url}}" class="rounded-circle mediumlogo">
    </div>
</div>
<div class="row content-section align-items-center">
    <div class="col-md-12">
        <div class="row align-items-center">
            <div class="col-md-12">
                <h3 class="text-center">Standings</h3>
                <div class="card table-responsive bg-lightgrey text-dark text-center text-nowrap overflow-auto mb-3">
                    <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                    <tr class="bg-dark text-light">
                        <th>Rank</th>
                        <th>Team</th>
                        <th>Manager</th>
                        <th>Record (W-L-T [Pts] | Diff)</th>
                        {% for item in weeks %}
                            <th>{{ item }}</th>
                        {% endfor %}
                    </tr>
                    {% for team,schedule in standings %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a class="text-dark" href="{% url 'teampage_detail' league_name=league_name team_name=team.name %}"><div><img class="small-logo" src="{{team.logo.url }}">{{ team.name }}</div></a></td>
                        <td>{{ team.captain.username }}</td>
                        <td>{{team.wins}}-{{team.losses}}-{{team.ties}} ({{team.points}} pts) | {{team.differential}}</td>
                        {% for week,wins,losses,weeknum in schedule %}
                        <td><a class="text-dark" href="{% url 'composite_weekly_matchup' league_name=league_name week=weeknum teamname=team.name|replace:' ,_' %}">{{wins}}-{{losses}} (vs {{week.shortname}})</a></td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}