{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{league_name}}{% endblock %}
{% block head%}
{% endblock %}
{% block body %}

<div class="row content-section align-items-center">
    <div class="col-md-4 d-flex justify-content-start"><img src="{{league.logo.url}}" class="rounded-circle mediumlogo">
    </div>
    <div class="col-md-4">
        <h3 class="d-flex justify-content-center">{{league_name}}</h3>
        <div class="d-flex justify-content-center text-center">Hosted by {% for h in league.host.all %}{% if forloop.first %}{{h.username}}{% elif forloop.last %} and {{h.username}}{% else %}, {{h.username}}{% endif %}{% endfor %}</div>
        <div class="d-flex justify-content-center text-center"><a href="{% url 'league_application' league_name=league_name %}"><button class="btn btn-primary btn-sm">Apply</button></a></div>
        {% if league.subleague.first.discord_settings.discordurl != "Not Provided" %}
            <div class="d-flex justify-content-center"><a href="{{ league.subleague.first.discord_settings.discordurl }}"><button class="btn btn-sm btn-primary">Join the Discord</button></a></div>
        {% endif %}
    </div>
    <div class="col-md-4 d-flex justify-content-end">
        <div class="col-md-4 d-flex justify-content-start"><img src="{{league.logo.url}}" class="rounded-circle mediumlogo">
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}