{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load extratags %}

{% block title %}{{league_name}}: {{team.teamname}}{% endblock %}
{% block head%}
{% endblock %}
{% block body %}

<div class="row text-light bg-darkgrey rounded align-items-center mb-2">
    <div class="col-4 d-flex justify-content-start"><img src="{{team.logo.url}}" class="rounded-circle mediumlogo">
    </div>
    <div class="col-4">
        <h3 class="text-center">{{ team.teamname }}</h3>
    </div>
    <div class="col-4 d-flex justify-content-end"><img src="{{team.logo.url}}" class="rounded-circle mediumlogo">
    </div>
    <div class="col-md-12">
    <div class="card table-responsive bg-lightgrey text-dark text-center overflow-auto mb-3">
        <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
            <tr class="bg-dark text-light">
                <th>Coach</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Differential</th>
                <th>Streak</th>
                {% if team.conference %}
                <th>Conference</th>
                {% endif %}
                {% if team.division %}
                <th>Division</th>
                {% endif %}
            </tr>
            <tr >
                <th>{{ team.coach }}{% if team.teammate %} and {{team.teammate}}{% endif %}</th>
                <th>{{ team.wins }}</th>
                <th>{{ team.losses }}</th>
                <th>{% if team.differential > 0 %}+{{ team.differential }}{% else %}{{ team.differential }}{% endif %}</th>
                <th>{% if team.streak > -1 %}Win-{{ team.streak }}{% else %}Lose{{ team.streak }}{% endif %}</th>
                {% if team.conference %}
                <th>{{ team.conference }}</th>
                {% endif %}
                {% if team.division %}
                <th>{{ team.division }}</th>
                {% endif %}
            </tr>
        </table>
        </div>
    </div>
</div>
<div class="row text-light bg-darkgrey rounded align-items-center mb-2 p-3">
    <div class="col-md-12 m-0 p-0">
        <div class="card table-responsive bg-lightgrey text-dark text-center overflow-auto">
            <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
            <thead>
                <tr class="text-center bg-dark text-light">
                    <th colspan="100%"><h4 class="p-0 m-0">Roster</h4></th>
                </tr>
                <tr class="text-center bg-dark text-light">
                    <th >Pokemon</th>
                    <th >GP</th>
                    <th >GW</th>
                    <th >K</th>
                    <th >D</th>
                    <th >+/-</th>
                    <th >HR</th>
                    <th >DD</th>
                    <th >HPH</th>
                    <th >L</th>
                    <th >SP</th>
                </tr>
            </thead>
            <tbody>
                {% for item in roster %}
                <tr class="bg-lightgrey text-dark text-center">
                    <td class="align-middle">
                        {% if item.pokemon.pokemon %}
                            <img class="smallsprite" src="{{item.pokemon.pokemon|sprite:site_settings.sprite}}">{{ item.pokemon.pokemon }}
                            {% if item.zuser == 'OS' %}
                                <div><img class="smallsprite" src="{% static 'main/images/z-crystal.png' %}">(Offensive & Status)</div>
                            {% elif item.zuser == 'O' %}    
                                <div><img class="smallsprite" src="{% static 'main/images/z-crystal.png' %}">(Offensive)</div>
                            {% endif %}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td class="align-middle">{{ item.gp }}</td>
                    <td class="align-middle">{{ item.gw }}</td>
                    <td class="align-middle">{{ item.kills }}</td>
                    <td class="align-middle">{{ item.deaths }}</td>
                    <td class="align-middle">{{ item.differential }}</td>
                    <td class="align-middle">{{ item.remaininghealth }}</td>
                    <td class="align-middle">{{ item.damagedone }}</td>
                    <td class="align-middle">{{ item.hphealed }}</td>
                    <td class="align-middle">{{ item.luck|floatformat:2 }}</td>
                    <td class="align-middle">{{ item.support }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% if upcoming %}
<div class="row bg-darkgrey text-light rounded p-3 mb-2">
    <div class="col-md-12 p-0 m-0">
        <div class="card table-responsive bg-lightgrey text-dark text-center overflow-auto">
            <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                <tr class="bg-dark text-light">
                    <th colspan="100%"><h4 class="p-0 m-0">Upcoming Matches</h4></th>
                </tr>
                <tr class="bg-dark text-light">
                    <th>Week</th>
                    <th>Opponent</th>
                    <th>Due Date (UTC)</th>
                    <th>Links</th>
                </tr>
                {% for item in upcoming %}
                <tr>
                    <td class="align-middle">{{item.week}}</td>
                    <td>
                        {% if item.team1 == team %}
                        <a class="text-dark" href="{% url 'team_page' league_name=item.season.subleague.league.name subleague_name=item.season.subleague.subleague team_abbreviation=item.team2.teamabbreviation %}">
                        <div><img class="small-logo rounded-circle" src="{{ item.team2.logo.url }}"></div>
                        <div>{{item.team2.teamname}}</div>
                        </a>
                        {% elif item.team2 == team %}
                        <a class="text-dark" href="{% url 'team_page' league_name=item.season.subleague.league.name subleague_name=item.season.subleague.subleague team_abbreviation=item.team1.teamabbreviation %}">
                        <div><img class="small-logo rounded-circle" src="{{ item.team1.logo.url }}"></div>
                        <div>{{item.team1.teamname}}</div>
                        </a>
                        {% endif %}
                    </td>
                    <td>{{item.duedate}}</td>
                    <td class="align-middle">
                        <a class="text-dark"
                            href="{% url 'league_matchup' league_name=item.season.subleague.league.name subleague_name=item.season.subleague.subleague matchid=item.id %}">
                            <h6 class="text-center">View Matchup</h6>
                        </a>
                        <a class="text-dark"
                            href="{% url 'upload_league_replay' league_name=item.season.subleague.league.name subleague_name=item.season.subleague.subleague matchid=item.id %}">
                            <h6 class="text-center">Upload Replay</h6>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endif %}
{% if results %}
<div class="row bg-darkgrey text-light rounded p-3 mb-2">
    <div class="col-md-12 p-0 m-0">
        <div class="card table-responsive bg-lightgrey text-dark text-center overflow-auto">
            <table class="table table-sm table-bordered table-striped p-0 m-0 text-center">
                <tr class="bg-dark text-light">
                    <th colspan="100%"><h4 class="p-0 m-0">Recent Results</h4></th>
                </tr>
                <tr class="bg-dark text-light">
                    <th>Week</th>
                    <th>Opponent</th>
                    <th>Result</th>
                </tr>
                {% for item in results %}
                <tr>
                    <td class="align-middle">{{item.week}}</td>
                    <td class="align-middle">
                        {% if item.team1 == team %}
                        <a class="text-dark" href="{% url 'team_page' league_name=item.season.subleague.league.name subleague_name=item.season.subleague.subleague team_abbreviation=item.team2.teamabbreviation %}">
                        <div><img class="small-logo rounded-circle" src="{{ item.team2.logo.url }}"></div>
                        <div>{{item.team2.teamname}}</div>
                        </a>
                        {% elif item.team2 == team %}
                        <a class="text-dark" href="{% url 'team_page' league_name=item.season.subleague.league.name subleague_name=item.season.subleague.subleague team_abbreviation=item.team1.teamabbreviation %}">
                        <div><img class="small-logo rounded-circle" src="{{ item.team1.logo.url }}"></div>
                        <div>{{item.team1.teamname}}</div>
                        </a>
                        {% endif %}
                    </td>
                    <td class="align-middle">
                        <a class="text-dark" href="{% url 'league_match_results' league_name=item.season.subleague.league.name subleague_name=item.season.subleague.subleague matchid=item.id %}">
                            {% if item.winner == team or item.winner == team  %}
                        <div>WIN ({{item.team1score}}-{{item.team2score}})</div>
                        {% else %}
                        <div>LOSE ({{item.team1score}}-{{item.team2score}})</div>
                        {% endif %}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}