{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load extratags %}

{% block title %}{{league.name}}: {{team.teamname}}{% endblock %}
{% block head%}
{% endblock %}
{% block body %}

<div class="row content-section align-items-center">
    <div class="col-md-4 d-flex justify-content-start"><img src="{{team.logo.url}}" class="rounded-circle mediumlogo">
    </div>
    <div class="col-md-4">
        <h3 class="d-flex justify-content-center">{{ team.teamname }}</h3>
        <div class="d-flex justify-content-center">Coached by {{ team.coach }}
            {% if team.teammate %}
            and {{team.teammate}}
            {% endif %}
        </div>
    </div>
    <div class="col-md-4 d-flex justify-content-end">
        <div>
            {% if team.conference %}
            <div class="d-flex justify-content-center">Conference: {{ team.conference }}</div>
            {% endif %}
            {% if team.division %}
            <div class="d-flex justify-content-center">Division: {{ team.division }}</div>
            {% endif %}
            <div>Record: {{ team.wins }}-{{ team.losses }}</div>
            <div>Differential: {{ team.differential }}</div>
            <div>Streak:
                {% if team.streak > -1 %}
                Win-{{ team.streak }}
                {% else %}
                Lose{{ team.streak }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row content-section align-items-center">
    <div class="col-md-12">
        <h4>Roster</h4>
        <table class="table table-sm" table-striped table-hover">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th class="p-0 m-0">Pokemon</th>
                    <th class="p-0 m-0">K</th>
                    <th class="p-0 m-0">D</th>
                    <th class="p-0 m-0">+/-</th>
                    <th class="p-0 m-0">GP</th>
                    <th class="p-0 m-0">GW</th>
                </tr>
            </thead>
            <tbody>
                {% for item in roster %}
                <tr class="bg-lightgrey text-dark text-center">
                    <td class="p-0 m-0">
                        {% if item.pokemon.pokemon %}
                        <div class="d-flex justify-content-center">
                            <img class="smallsprite"
                                src="https://play.pokemonshowdown.com/sprites/{{ site_settings.sprite|split:0 }}/{{ item.pokemon.pokemon|lower|cut:' '|cut:'.'|cut:':'|cut:'%'|replace:'mega-,mega'|replace:'nidoran-m,nidoran'|replace:'o-o,oo'|replace:'dusk-mane,duskmane'|replace:'dawn-wings,dawnwings' }}.{{ site_settings.sprite|split:1 }}">
                            <p>{{ item.pokemon.pokemon }}</p>
                            {% if item.zuser == 'OS' %}
                                <div><img class="smallsprite" src="{% static 'main/images/z-crystal.png' %}">(Offensive & Status)</div>
                            {% elif item.zuser == 'O' %}    
                                <div><img class="smallsprite" src="{% static 'main/images/z-crystal.png' %}">(Offensive)</div>
                            {% endif %}
                        </div>
                        {% else %}
                        <div>
                            <img class="smallsprite justify-content-center"
                                src="https://play.pokemonshowdown.com/sprites/{{ site_settings.sprite|split:0 }}/unown-question.{{ site_settings.sprite|split:1 }}">
                        </div>
                        {% endif %}
                    </td>
                    <td class="p-0 m-0">{{ item.kills }}</td>
                    <td class="p-0 m-0">{{ item.deaths }}</td>
                    <td class="p-0 m-0">{{ item.differential }}</td>
                    <td class="p-0 m-0">{{ item.gp }}</td>
                    <td class="p-0 m-0">{{ item.gw }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row content-section align-items-center d-flex justify-content-around">
    <h4 class="col-12">Results</h4>
        <div class="card-group">
        {% for item in results %}
        <div class="col">
            <div class="card text-dark text-center justify-content-center">
                <h5 class="card-header p-0">Week {{ item.week }}</h5>
                {% if item.team1 == team %}
                <div><img class="card-img-top mediumlogo rounded-circle m-1" src="{{ item.team2.logo.url }}"></div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-0">Opponent: {{ item.team2.teamname }}</li>
                    {% if item.winner == team %}
                    <li class="list-group-item p-0">WIN ({{ item.team1score }}-{{ item.team2score }})</li>
                    {% else %}
                    <li class="list-group-item p-0">LOSE ({{ item.team1score }}-{{ item.team2score }})</li>
                    {% endif %}
                    <li class="list-group-item p-0"><a href="{{item.replay}}"><button
                                class="btn btn-dark">Replay</button></a></li>
                </ul>
                {% elif item.team2 == team %}
                <div><img class="card-img-top mediumlogo rounded-circle m-1" src="{{ item.team1.logo.url }}"></div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-0">Opponent: {{ item.team1.teamname }}</li>
                    {% if item.winner == team %}
                    <li class="list-group-item p-0">WIN ({{ item.team2score }}-{{ item.team1score }})</li>
                    {% else %}
                    <li class="list-group-item p-0">LOSE ({{ item.team2score }}-{{ item.team1score }})</li>
                    {% endif %}
                    <li class="list-group-item p-0"><a href="{{item.replay}}"><button
                                class="btn btn-dark">Replay</button></a></li>
                </ul>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="row content-section align-items-center d-flex justify-content-around">
    <h4 class="col-12">Upcoming Matches</h4>
    <div class="card-group">
        {% for item in upcoming %}
        <div class="col">
            <div class="card text-dark text-center justify-content-center h-100">
                <h5 class="card-header p-0">Week {{ item.week }}</h5>
                {% if item.team1 == team %}
                <div><img class="card-img-top mediumlogo rounded-circle m-1" src="{{ item.team2.logo.url }}"></div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-0">Opponent: {{ item.team2.teamname }}</li>
                </ul>
                {% elif item.team2 == team %}
                <div><img class="card-img-top mediumlogo rounded-circle m-1" src="{{ item.team1.logo.url }}"></div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-0">Opponent: {{ item.team1.teamname }}</li>
                </ul>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}