{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load extratags %}

{% block title %}{{league.name}}: {{team.teamname}}{% endblock %}
{% block head%}
{% endblock %}
{% block body %}

<div class="row content-section align-items-center">
    <div class="col-md-4 d-flex justify-content-start"><img src="{{team.logo.url}}" class="rounded-circle mediumlogo">
    </div>
    <div class="col-md-4">
        <h3 class="d-flex justify-content-center">{{ team.teamname }}</h3>
        <div class="d-flex justify-content-center">Coached by {{ team.coach }}
            {% if team.teammate %}
            and {{team.teammate}}
            {% endif %}
        </div>
    </div>
    <div class="col-md-4 d-flex justify-content-end">
        <div class="d-flex justify-content-center text-danger">Teampage</div>
    </div>
</div>
<div class="row content-section align-items-center">
    <div class="col-md-12">
        <h4>Roster</h4>
        <table class="table table-sm" table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Pokemon</th>
                    <th>K</th>
                    <th>D</th>
                    <th>+/-</th>
                    <th>GP</th>
                    <th>GW</th>
                </tr>
            </thead>
            <tbody>
            {% for item in roster %}
                <tr>
                    <td>
                        {% if item.pokemon.pokemon %}
                            <div class="d-flex">
                                <img class="smallsprite" src="https://play.pokemonshowdown.com/sprites/{{ site_settings.sprite|split:0 }}/{{ item.pokemon.pokemon|lower|cut:' '|cut:'.'|cut:':'|cut:'%'|replace:'mega-,mega'|replace:'nidoran-m,nidoran'|replace:'o-o,oo'|replace:'dusk-mane,duskmane'|replace:'dawn-wings,dawnwings' }}.{{ site_settings.sprite|split:1 }}">
                                <p>{{ item.pokemon.pokemon }}</p>
                            </div>
                        {% else %}
                            <div>
                                <img class="smallsprite" src="https://play.pokemonshowdown.com/sprites/{{ site_settings.sprite|split:0 }}/unown-question.{{ site_settings.sprite|split:1 }}">
                            </div>
                        {% endif %}
                    </td>
                    <td>{{ item.kills }}</td>
                    <td>{{ item.deaths }}</td>
                    <td>{{ item.differential }}</td>
                    <td>{{ item.gp }}</td>
                    <td>{{ item.gw }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    </div>
</div>
{% endblock %}