{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load extratags %}

{% block title %}{{league.name}}: Tiers{% endblock %}
{% block head%}
<link rel="stylesheet" type="text/css" href="{% static 'individualleague/styles/tiers.css' %}">
{% endblock %}
{% block body %}

<div class="row content-section align-items-center">
    <div class="col-md-4 d-flex justify-content-start"><img src="{{league.logo.url}}" class="rounded-circle mediumlogo"></div>
    <div class="col-md-4">
        {% if availabletiers %}
            <h3 class="d-flex justify-content-center">Tiers: Available</h3>
        {% else %}
            <h3 class="d-flex justify-content-center">Tiers</h3>
        {% endif %}
    </div>
    <div class="col-md-4 d-flex justify-content-end"><img src="{{league.logo.url}}" class="rounded-circle mediumlogo"></div>
        {% if availabletiers %}
            <div class="col-md-12 d-flex justify-content-center m-0 p-0">
                <div class="row d-flex justify-content-around m-0 p-0">
                {% for x,y in tiers %}
                    <div class="col-md-2 d-flex justify-content-center"><a href="{% url 'available_individual_league_tier' league_name=league_name tiername=x.tiername|replace:' ,_' %}"><button class="btn btn-primary">{{ x.tiername }}</button></a></div>
                {% endfor %}
                {% if mega %}
                    {% for x,y in mega %}
                        <div class="col-md-2 d-flex justify-content-center"><a href="{% url 'available_individual_league_tier' league_name=league_name tiername=x.tiername|replace:' ,_' %}"><button class="btn btn-primary">{{ x.tiername }}</button></a></div>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        {% else %}    
            <div class="col-md-12 d-flex justify-content-center m-0 p-0">
                <div class="row d-flex justify-content-around m-0 p-0">
                {% for x,y in tiers %}
                    <div class="col-md-2 d-flex justify-content-center"><a href="{% url 'individual_league_tier' league_name=league_name tiername=x.tiername|replace:' ,_' %}"><button class="btn btn-primary">{{ x.tiername }}</button></a></div>
                {% endfor %}
                {% if mega %}
                    {% for x,y in mega %}
                        <div class="col-md-2 d-flex justify-content-center"><a href="{% url 'individual_league_tier' league_name=league_name tiername=x.tiername|replace:' ,_' %}"><button class="btn btn-primary">{{ x.tiername }}</button></a></div>
                    {% endfor %}
                {% endif %}
                {% if banned %}
                    <div class="col-md-2 d-flex justify-content-center"><a href="{% url 'individual_league_tier' league_name=league_name tiername='Banned' %}"><button class="btn btn-primary">Banned</button></a></div>
                {% endif %}
                </div>
            </div>
        {% endif %}
</div>
<div class="row content-section">
    {% for x,y in tiers %}
        <div class="col-md-2">
                <table class="table table-sm d-flex justify-content-center bg-lightgrey text-dark">
                    <tr>
                        <th colspan="3">{{x.tiername}} ({{x.tierpoints}})</th>
                    </tr>
                    {% for itemx,itemy in y %}
                        <tr>
                            {% if itemy %}
                                <td class="bg-lightred text-dark"><div>{{ itemy.teamabbreviation }}</div></td>
                            {% else %}
                                <td class="bg-lightgreen text-dark"><div>FREE</div></td>
                            {% endif %}
                            <td><img class="smallsprite" src="https://play.pokemonshowdown.com/sprites/{{ site_settings.sprite|split:0 }}/{{ itemx.pokemon.pokemon|lower|cut:' '|cut:'.'|cut:':'|cut:'%'|replace:'mega-,mega'|replace:'nidoran-m,nidoran'|replace:'o-o,oo'|replace:'dusk-mane,duskmane'|replace:'dawn-wings,dawnwings' }}.{{ site_settings.sprite|split:1 }}"></td>
                            <td><a class="text-dark" href="{% url 'pokedex_item' pokemon_of_interest=itemx.pokemon.pokemon %}">{{itemx.pokemon.pokemon}}</a></td>
                        </tr>
                    {% endfor %}
                </table>
        </div>
    {% endfor %}
    {% if mega %}
    <div class="col-md-2">
        {% for x,y in mega %}
           <table class="table table-sm d-flex justify-content-center bg-lightgrey text-dark">
                <tr>
                    <th colspan="3">{{x.tiername}} ({{x.tierpoints}})</th>
                </tr>
                {% for itemx,itemy in y %}
                    <tr>
                        {% if itemy %}
                            <td class="bg-lightred text-dark"><div>{{ itemy.teamabbreviation }}</div></td>
                        {% else %}
                            <td class="bg-lightgreen text-dark"><div>FREE</div></td>
                        {% endif %}
                        <td><img class="smallsprite" src="https://play.pokemonshowdown.com/sprites/{{ site_settings.sprite|split:0 }}/{{ itemx.pokemon.pokemon|lower|cut:' '|cut:'.'|cut:':'|cut:'%'|replace:'mega-,mega'|replace:'nidoran-m,nidoran'|replace:'o-o,oo'|replace:'dusk-mane,duskmane'|replace:'dawn-wings,dawnwings' }}.{{ site_settings.sprite|split:1 }}"></td>
                        <td><a class="text-dark" href="{% url 'pokedex_item' pokemon_of_interest=itemx.pokemon.pokemon %}">{{itemx.pokemon.pokemon}}</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}    
    </div>
    {% endif %}
</div>
{% endblock %}