{% extends "template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load extratags %}

{% block title %}{{league.name}}: Tiers{% endblock %}
{% block head%}
<link rel="stylesheet" type="text/css" href="{% static 'individualleague/styles/tiers.css' %}">

{% endblock %}
{% block body %}
<div class="row content-section align-items-center">
    <div class="col-md-4 d-flex justify-content-start"><img src="{{league.logo.url}}" class="rounded-circle mediumlogo">
    </div>
    <div class="col-md-4">
        <h3 class="d-flex justify-content-center">Tiers</h3>
    </div>
    <div class="col-md-4 d-flex justify-content-end"><img src="{{league.logo.url}}" class="rounded-circle mediumlogo">
    </div>
    <div class="col-12 d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center justify-content-start">
            <div class="px-1">Filters:</div>
            <div class="px-1">
                <select id="available" class="form-control">
                    <option value="allpokemon">Show All Pokemon</option>
                    <option value="available">Show Only Available Pokemon</option>
                </select>
            </div>
            <div class="px-1">
                <select id="tierchoice" class="form-control">
                    <option value="none">Show All Tiers</option>
                    {% for t in tierchoices %}
                    <option value="{{t.tierpoints}}">Show Only {{t.tiername}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="px-1">
                <select id="typing" class="form-control">
                    <option value="none">Show All Types</option>
                    {% for type in types %}
                    <option value="{{type}}">Show Only {{type}} Types</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-end">
            <div class="px-1">Sort By:</div>
            <div>
                <select id="sortby" class="form-control">
                    <option value="tier-dec">Tier (highest first)</option>
                    <option value="tier-inc">Tier (lowest first)</option>
                    <option value="az">A->Z</option>
                    <option value="za">Z->A</option>
                    <option value="bst-dec">BST (highest first)</option>
                    <option value="bst-inc">BST (lowest first)</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row bg-darkgrey rounded p-2">
    <div id="tierlist" class="col-12">
        {% for item, item2 in tiers %}
        <div class="tieritem" data-tier="{{item.tier.tierpoints}}" data-bst="{{item.pokemon.bst}}"
            data-pokemon="{{item.pokemon.pokemon}}" data-available="{{item2}}">
            <a href="">
            {% if item2 == "FREE" %}
                <div class="row bg-green text-dark rounded mb-1">
            {% else %}
                <div class="row bg-red text-dark rounded mb-1">
            {% endif %}
                    <div class="col-2 justify-content-center d-flex align-items-center">
                        <div>{{item2}}</div>
                    </div>
                    <div class="col-2 text-center align-middle">
                        <div>{{item.tier.tiername}}</div>
                        <div>({{item.tier.tierpoints}} pts)</div>
                    </div>
                    <div class="col-2 d-flex justify-content-center align-items-center"><img class="smallsprite"
                            src="https://play.pokemonshowdown.com/sprites/{{ site_settings.sprite|split:0 }}/{{ item.pokemon.pokemon|lower|cut:' '|cut:'.'|cut:':'|cut:'%'|replace:'mega-,mega'|replace:'nidoran-m,nidoran'|replace:'o-o,oo'|replace:'dusk-mane,duskmane'|replace:'dawn-wings,dawnwings' }}.{{ site_settings.sprite|split:1 }}">
                        {{item.pokemon.pokemon}}</div>
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <div>
                            {% for type in item.pokemon.types.all %}
                            <div><img src="https://play.pokemonshowdown.com/sprites/types/{{type.typing|cut:' '}}.png">
                            </div>
                            <div class="{{type.typing}}" hidden>{{type.typing}}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <div class="px-1">
                            <div><small>HP</small></div>
                            <div><small>{{item.pokemon.hp}}</small></div>
                        </div>
                        <div class="px-1">
                            <div><small>Atk</small></div>
                            <div><small>{{item.pokemon.attack}}</small></div>
                        </div>
                        <div class="px-1">
                            <div><small>Def</small></div>
                            <div><small>{{item.pokemon.defense}}</small></div>
                        </div>
                        <div class="px-1">
                            <div><small>SpA</small></div>
                            <div><small>{{item.pokemon.s_attack}}</small></div>
                        </div>
                        <div class="px-1">
                            <div><small>SpD</small></div>
                            <div><small>{{item.pokemon.s_defense}}</small></div>
                        </div>
                        <div class="px-1">
                            <div><small>Spe</small></div>
                            <div><small>{{item.pokemon.speed}}</small></div>
                        </div>
                        <div class="px-1">
                            <div><small>BST</small></div>
                            <div><small>{{item.pokemon.bst}}</small></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block footer %}
<!-- select code -->
<script src="{% static 'individualleague/scripts/tierfilter.js' %}"></script>
{% endblock %}